[2012-11-02 20:50] telmich opened #109 "Type __rvm: allow to specify different rvm version"
Allow to replace "stable" with $random string - it's interesting if you want to use "master" for instance

[2012-11-07 18:05] telmich opened #117 "__debconf_set_selections: allow reading from stdin"
Use this new feature

[2012-11-07 18:06] telmich opened #118 "Document stdin feature in blog and type documentation"
Blog: write
Type documentation: verify || write

[2012-11-07 18:14] telmich opened #120 "__rvm_gem: make parameter state optional"

[2012-11-16 09:33] telmich opened #129 "__motd: allow reading file from stdin"

[2012-11-16 09:34] telmich opened #130 "__issue: allow reading from stdin"

[2012-11-18 22:32] telmich opened #137 "__directory does not change ownership when directory exists"

[2012-12-19 13:29] telmich opened #151 "Type __package_apt: Support selecting release"
AKA apt-get install -t <name>

[2013-01-15 15:36] telmich opened #154 "__line fails, if line contains single/double quotes"
Single quotes could work, but double quotes cannot. need to find a way to output the line securely without getting it modified

[2013-02-02 15:23] telmich opened #159 "Change --mode parameter to accept only numerical values"
Background:

Do not support full set of chmod anymore to make explorers with stat easier.

a+rx / u=rw / ... / similar constructs are probably "nice to have" but not really required / helpful in daily work.

[2013-03-25 13:00] telmich opened #165 "Prefix output of types/manifest with host"
When a manifest/gencode/etc. outputs stuff to stderr (manifest: also stdout), capture it in cdist, prepend hostname - maybe even make its output dependend on -v / -d flags!

[2013-06-12 00:22] fidian opened #182 "apt_ppa does not refresh package list (Try #2)"
When you try to use the following singleton, it installs the wrong version of node.  I expect 0.10.x from the PPA and I get 0.6.x from the normal repository.  I am using the current version of cdist from the git repository's master branch.

[code]

Executed in the following way:

[code]

The remote_copy and remote_exec scripts just use `sudo` for running commands.  I'll probably issue a pull reque

[2013-10-14 12:43] telmich opened #212 "define how explorer values should be used"
We use __global/explorer/$name (value!) and __explorer/$name (executable).

In cdist-explorer.text we did not define what the correct way is to use the explorer!

[2013-12-11 09:06] asteven opened #223 "cdist should cleanup when interrupted"
Pressing CTRL-C when running cdist leaves processes running on the target.
If we can, we should terminate them.

[2013-12-16 12:48] asteven opened #229 "All types using static default values for parameters should use the new way of defining them"
Otherwise we will have more errors similar to #228.

[2013-12-19 09:02] asteven opened #235 "support for 'exported resources'"
RFC
### use case
- need a way to get X from host A when configuring host B
- something like exported resources in puppet
### example

[code]
### thoughts
- no 'api' to talk to the cache from types
- cdist types have no way to get data _after_ the object has finished,
  this is also not available in the cache
- could create another type that runs after and get's the data via explorers,
  e.g. __ope

[2014-01-15 20:25] telmich opened #258 "Install merge: things to fix"
__install_config contains non existing type __apt_noautostart - think about how to integrate it

[2014-01-16 08:44] asteven opened #259 "update __postfix_master type to use new postfix features"
The new postconf features look nice for a config management system.

[code]

[code]

[2014-01-19 20:31] telmich opened #266 "preos: reconfigure the hostname"
Currently setup to the host the installation came from

[2014-01-20 07:47] telmich opened #268 "Type __install_partition_msdos*: allow --size + for any partition"
using + for the first partition breaks the setup, as it occupies all space and nothing is left for the other partitions.

[2014-01-20 09:01] telmich opened #270 "preos: ensure hostname -f works"
Fails currently with

Name or service not known

and needs manual fix in /etc/hosts

[2014-01-23 11:35] telmich opened #275 "Ugly backtrace when working with non UTF-8 files"
As seen here:

Traceback (most recent call last):
  File "/tmp/tmpv0mhou/bin/**ssh_authorized_keys", line 183, in <module>
    emulator.run()
  File "/home/cdist/cdist/cdist/emulator.py", line 84, in run
    self.setup_object()
  File "/home/cdist/cdist/cdist/emulator.py", line 154, in setup_object
    self.cdist_object.parameters = self.parameters
  File "/home/cdist/cdist/cdist/util/fsproperty.p

[2014-01-27 13:05] telmich opened #276 "Type __debconf_set_selections: only generate code if necessary"
Currently this type always emits code to be executed - even if not necessary.

[2014-01-27 13:14] telmich opened #277 "All types that except a filename: Support "-" as parameter value and name parameter --file"
It would be very convienient, if all types that utilise a filename, could also read from stdin using --file -.

[2014-02-09 09:16] lloyd opened #291 "tool for modifying conf/ini files"
I wonder if there is a type for parsing/modifying [ini/.conf files](http://en.wikipedia.org/wiki/INI_file)?

In 20 minutes of looking I haven't found anything beyond the `__key_value` type, the `__line` type, and `__block`.  None of this is a good fit.

A case this specifically this would be useful for is in toggling a value in an .ini file where that value was repeated multiple times in distinct

[2014-02-11 10:27] dheule opened #293 "css file for html docs missing in pypi packages"
For a better readability of the local copy html docs.

Please include the following files in the package:

docs/man/man7/docbook-xsl.css
docs/man/man1/docbook-xsl.css

Thx,
Daniel

[2014-02-13 15:01] telmich opened #300 "Marker .cdist is broken"
Creating a file like /home/ungleich/.cdist does not work, as it contains the current cdist marker.

Proposed solution:

[code]

[2014-02-13 15:04] telmich opened #301 "Document execution method in the cache"
Proposed solution:

[code]

[2014-02-13 15:14] telmich opened #302 "Ensure all information of run is kept in cache (save whole runtime in cache)"
So that at some point in the future a "replay" or "reconfigure" or "report" or "diff" is possible.

Proposed solution:

[code]

[2014-02-13 15:15] telmich opened #303 "Capture and prefix stderr/stdout"
[code]

[2014-02-13 15:19] telmich opened #304 "On error dump all information about the failing object"
[code]

(requires #303 )

[2014-02-13 15:21] telmich opened #305 "Resolve linked paths"
The temporary links to manifest/explorer/types should be resolved when printing their name. readlink is probably our friend

[2014-02-13 15:22] telmich opened #306 "Create cdist report"
To be discussed how to do it in the end - some ideas:
- report of one host
- report of various different runs of one host
- same for multiple hosts

[2014-02-13 15:42] telmich opened #307 "add session to "run directories""
[code]

(maybe related to #298)

[2014-02-14 21:16] telmich opened #310 "Create rbenv world"
__rbenv already exists in type__rbenv branch, but missing is:
- type to install ruby versions
- type to install gems using bundler honoring rbenv settings

[2014-03-26 21:45] telmich opened #324 "Type __postgres_role does not modify role permissions, if changed"
I add:
__postgres_role app

I modify it to:

__postgres_role app --createdb

-> no permissions are changed, as the user already exists.

I think we should enhance this type to support adding and removing permissions

[2014-04-09 08:50] telmich opened #326 "Leaking file descriptors"
When running on many hosts, non parallel, this error is caused: @asteven you know about this already

INFO: redmine-staging.panter.biz: Generating code for __file/etc/iptables.d/established
Traceback (most recent call last):
  File "/home/cdist/cdist/cdist/exec/local.py", line 175, in run
    return subprocess.check_output(command, env=env).decode()
  File "/usr/lib/python3.2/subprocess.py", line

[2014-04-14 18:18] dheule opened #329 "Remove "BETA FEATURE" flags"
Hello nico,
please remove the "BETA FEATURE" flags from
CDIST_ORDER_DEPENDENCY and CDIST_OVERRIDE.

I think they are stable like the most other cdist features ...
(should only be changed / replaced if there is a good reason to do that.)

If it's ok, I need only a hint to do that ;-)

[2014-04-25 20:04] telmich opened #331 "Catch nospaceleftondeviceerror"
Instead of throwing this traceback:

INFO: bro.panter.biz: Generating code for **file/etc/iptables.d/policy-fwd
Process Process-13:
Traceback (most recent call last):
  File "/usr/lib/python3.2/multiprocessing/process.py", line 267, in _bootstrap
    self.run()
  File "/usr/lib/python3.2/multiprocessing/process.py", line 116, in run
    self._target(_self._args, *_self._kwargs)
  File "/home/cdist

[2014-05-21 09:09] lloyd opened #337 "cpu_cores does not work on amazon ec2"
[code]

Yields incorrect results on some virtual machines.  The results of this is `1` on an r3.xlarge instance, and I imagine for others too.

The issue is all cores have a core id of 0.  removing `uniq` fixes the problem.  Is there a system where cores are reported more than once?  if not, could you just simplify to:

[code]

[2014-06-03 09:15] asteven opened #338 "documentation added in e5a1280 seems to be wrong"
e.g. the first sentence below is simply wrong:

This also means that the "__link" command must make sure, that either
"__file/etc/cdist-configured" allready is present, or, if it's not, it needs
to be created. The task of cdist is to make sure, that the dependency will be
resolved appropriately and thus "__file/etc/cdist-configured" be created
if necessary before "__link" proceeds (or to abort exe

[2014-06-10 20:50] telmich opened #342 "__package_zypper should try to print diagnostics in case of failure"
Currently:

INFO: testhost: Running manifest and explorers for __package_zypper/postgresql-devel
INFO: testhost: Generating code for __package_zypper/postgresql-devel
INFO: testhost: Executing code for __package_zypper/postgresql-devel
ERROR: testhost: Command failed: ssh -o User=root -q testhost __object_id=postgresql-devel __object=/var/lib/cdist/object/__package_zypper/postgresql-devel/.cdist /

[2014-08-11 13:44] toupeira opened #351 "__package_apt explorer doesn't detect state correctly"
The following manifest:

[code]

...results in `locales-all` being installed, and then immediately uninstalled again, while leaving the `locales` package untouched. After some debugging it turns out that the explorer in `__package_apt/explorer/state` returns the package name `locales-all` when the package `locales` is queried, which will then be used in `__package_apt/gencode-remote` ;-)

[2014-08-15 19:15] tpo opened #353 "__package_apt seems to interpret "Recommends:" as "Depends:""
I have this here in a manifest:

[code]

Inkscape has the following dependencies:

[code]

The result of the above manifest is, that (depending on execution order) cdist will first deinstall aspell **and** inkscape and then reinstall inkscape **and** aspell. Or the inverse: install both and the remove them both:

[code]

My intuitive expectation of the above two declarations would however be, that

[2014-08-28 11:11] telmich opened #357 "Get cdist into Debian"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=759340

[2014-09-03 15:21] tpo opened #358 "if user exists __user won't create his home dir"
I just ran:

[code]

discovered, that I should create the user's home dir too, so I changed my code to:

[code]

and saw, that __user would now not create the user's home dir.
*t

[2014-09-04 09:40] telmich opened #359 "Easily allow ssh keys to be changed in preos and stage enviroments"
Hey @asteven - I am opening this issue to give Dave access to one infrastructure. The suggested idea to pass in ssh keys via command line is probably a bit error prone, as the length is pretty limited:

The number of kernel parameters is not limited, but the length of the
complete command line (parameters including spaces etc.) is limited to
a fixed number of characters. This limit depends on the

[2014-10-14 08:45] telmich opened #370 "Create controlmaster files in run directory of cdist"
So we don't need controlmaster by default and enable it only per run (by default)

[2014-10-14 16:10] telmich opened #371 "Write cdist type to allow pull based configuration"
- including private/public key
- that can configures the SOURCE and the TARGET!
- that places a script + cron based (for the start)

[2014-11-13 03:02] telmich opened #373 "__file type and scp don't cope with spaces in filenames"
http://www.mikestechblog.com/joomla/operating-systems-section/36-ubuntu-linux/128-scp-ambiguous-error-solved.html

i.e. when the destination filename contains spaces, scp complains.

We need to escape whitespace in filenames before handing it over to scp

[2014-11-21 11:58] jonmz opened #374 "__package_yum is locale-dependent; should not"
`cdist/conf/type/__package_yum/gencode-remote` tries to detect the current state of a package by looking for the string "no package provides" in the output of `rpm -q --whatprovides`:

[code]

But this effectively fails if the system in question is providing its output in another language:

[code]

As as result, having `__package pssh --state present` in a manifest in fact doesn't install the pack

[2014-11-21 22:27] telmich opened #375 "__apt_key_uri does not work with insecure / untrusted certificates"
INFO: cephmon01.ungleich.ch: Executing code for __apt_key_uri/ceph
gpg: no valid OpenPGP data found.

__apt_key_uri ceph \
    --name "Ceph release" \
    --uri 'https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc'

root@cephmon01:~# curl 'https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc' | apt-key add -
  % Total    % Received % Xferd  Average Speed   Time    Time

[2014-11-25 21:59] telmich opened #376 "__postfix_postmap breaks when using hashes"
__postfix_postmap "hash:/etc/postfix/transport"

results in

INFO: mailman.ungleich.ch: Executing code for __postfix_postmap/hash:/etc/postfix/transport
postmap: fatal: dict_mkmap_func: unsupported dictionary type: /hash:  Is the postfix-/hash package installed?
ERROR: mailman.ungleich.ch: Command failed: ssh -o User=root -q mailman.ungleich.ch __object_id=hash:/etc/postfix/transport __object=/var

[2014-11-25 22:16] telmich opened #377 "__postfix_master interpolates variables"
__postfix_master mailman --type unix \
    --unpriv n --chroot n \
    --command 'pipe flags=FR user=list argv=/usr/lib/mailman/bin/postfix-to-mailman.py ${nexthop} ${user}'

results in
# cdist:__postfix_master/mailman

mailman  unix - n n - - pipe flags=FR user=list argv=/usr/lib/mailman/bin/postfix-to-mailman.py
# /cdist:__postfix_master/mailman

-> missing the 2 vars

[2014-11-25 22:47] telmich opened #378 "__line does not have a concept of replacing lines"
__line bla --regex '^mailman .*' --line mailman other stuff" does not replace the following line:

mailman   unix  -       n       n       -       -       pipe
  flags=FR user=list argv=/usr/lib/mailman/bin/postfix-to-mailman.py

Because the current concept is that "anything that matches must be the right one"

Right? No. Yes? No?

[2014-12-11 10:25] toupeira opened #379 "Only apply certain types?"
If you only want to re-apply a specific type on all servers, you have the choice of either doing a full config run (which can take a long time), or using `--initial-manifest -` to supply a manifest on stdin (which might apply the type on servers that don't define it in the real manifest).

It would be nice if `cdist config` had something like a `--filter TYPE` argument which would read the normal

[2015-02-23 10:25] telmich commented on #326
Closed long time ago :-)

[2015-02-23 10:25] #326 closed

[2015-02-23 10:27] telmich commented on #300
Working on this at the moment -- @asteven - will submit PR today, maybe you can review it.

Background: I need to deploy hosts that can run cdist (as a server) with cloning local git repo to ~cdist/.cdist/

[2015-02-24 17:48] telmich opened #384 "__consul fails with zip error message"
[18:46] freiheit:~% echo __consul | cdist config -vp -i - 136.243.52.231
INFO: cdist: version 3.1.10-14-g66ad275
INFO: 136.243.52.231: Running global explorers
INFO: 136.243.52.231: Running initial manifest /home/users/nico/.tmp/cdist.stdin.e0_69gwf
INFO: 136.243.52.231: Running manifest and explorers for __consul/
UnZip 6.00 of 20 April 2009, by Info-ZIP.  Maintained by C. Spieler.  Send
bug repo

[2015-02-24 19:42] telmich opened #385 "__consul_agent should not include conf_dir parameter"
@asteven:

-bash-4.2$ /usr/local/bin/consul agent -config-dir /etc/consul/conf.d/
==> Error decoding '/etc/consul/conf.d/config.json': Config has invalid keys: config_dir

[2015-02-24 20:55] #385 closed

[2015-02-24 21:00] asteven commented on #384
I totally forgot about that. I don't even use this type anymore. I use this instead in a custom type instead.
[code]

[2015-02-24 21:02] asteven commented on #384
The question is how can we make a __consul type that works for other people without beeing doomed to maintain it (or the consul version it uses) for the rest of time.

[2015-02-24 21:06] asteven commented on #384
Maybe something like this could work:
- maintain version to cksum mapping of the versions we use ourself
- default to the latest version
- allow user to pass in optional url and cksum in case we are not up to date or he needs a old version

The __consul type would then be a thin wrapper arround a __staged_file object

[2015-02-24 22:16] asteven commented on #384
fixed by 44d5749

[2015-02-24 22:16] #384 closed

[2015-02-25 08:20] asteven commented on #379
Hi toupeira
I am are working on this. The idea is to give types a way to set tags, and cdist a way to filter/include/exclude objects based on those tags. Something like this:

In some manifest
[code]

Then when running cdist
[code]

[2015-02-25 09:42] toupeira commented on #379
Interesting, though for it to be usable in the way I'm thinking of, I would
need to add --tag params to pretty much every type call. How about treating
the type name as an implicit default tag, or maybe even add an --only-type
argument?

Something related I've been thinking about is integration with cinv tags,
so I could basically define the "role" a server has through cinv, and then
have a dynami

[2015-02-25 12:57] telmich commented on #379
I also think --only-type xyz makes sense.

Markus Koller [Wed, Feb 25, 2015 at 01:42:42AM -0800]:

--
New PGP key: 659B 0D91 E86E 7E24 FD15  69D0 C729 21A1 293F 2D24

[2015-02-25 13:22] toupeira commented on #379
I guess it can be slightly misleading since any dependent types will necessarily also have to be run, but to me that's fine.

[2015-02-25 14:02] asteven commented on #379
I mainly need the tag based approach, but I see the use case for just running certain types.
One open/unsolved question is how to handle dependencies. What if a tagged (or selected based on type) object creates other objects? How are those treated? Should tags be inherited. Same questions/problems also apply to a possible --only-type implementation.

[2015-02-25 15:14] telmich commented on #379
I think we will introduce a command line switch for selecting a type that wraps around the initial manifest:

cdist config --to-be-defined "__my_type --with-my-args"

The tagging approach is related, but not the same. With tagging, the dependent types, which are not matched by the selection, would not be executed (useful for install case).

[2015-02-26 17:23] telmich opened #387 "Create script that collects all binaries and their libraries and their libraries"
Given a list of binaries, retrieve all shared libraries and depending shared libraries.

Example:

[18:22] freiheit:~% ldd /usr/bin/ls
    linux-vdso.so.1 (0x00007fffcd1c4000)
    libcap.so.2 => /usr/lib/libcap.so.2 (0x00007fb0a9aaf000)
    libacl.so.1 => /usr/lib/libacl.so.1 (0x00007fb0a98a6000)
    libc.so.6 => /usr/lib/libc.so.6 (0x00007fb0a9503000)
    libattr.so.1 => /usr/lib/libattr.so.1 (0x

[2015-02-26 18:30] jdguffey commented on #387
What is the particular use case for this?

Sorry -- I just saw this come through, but don't really know what prompted it or what the larger goal is. What are you wanting to accomplish?

[2015-02-27 13:49] telmich commented on #387
This is part of the PreOS rewrite - instead of using debootstrap to create an operating system to allow cdist to INSTALL machines, we use the binaries found on the host system and package them into either PXE or ISO format.

[2015-02-27 13:49] telmich commented on #387
... and btw, thanks for asking!

[2015-02-28 22:39] telmich opened #389 "__consul_agent seem to have missing requirement"
When whitelabeling debian|ubuntu and running against a fresh Debian/Ubuntu it seems that the dependencies are not correctly defined.

Furthermore the error is _not_ caught and the run looks to be successful.

@asteven for CC

[code]

[2015-02-28 22:41] telmich commented on #389
Looks like being related do

    135 require="__directory${conf_dir}" \
    136    __config_file "${conf_dir}/${conf_file}" \
    137       --owner root --group "$group" --mode 640 \
    138       --state "$state" \
    139       --onchange 'service consul status >/dev/null && service consul reload || true' \
    140       --source -

[2015-02-28 22:46] telmich commented on #389
@asteven

what do you think about replacing

     139       --onchange 'service consul status >/dev/null && service consul reload || true' \

with "consul reload"?

[2015-03-01 20:19] asteven commented on #389
Nico Schottelius wrote on 02/28/2015 11:39 PM:

Just whitelabeling will not help, you also have to implement the
debian/ubuntu specific things. iow, do you deploy a 'service' file for
upstart/debian whatever?

[2015-03-05 18:20] telmich opened #390 "Is it possible that the environ of manifest differs / misses __cdist_object_marker"
In emulator testcase I found a bug that cdist_object_marker is different in the manifest, because it
is inherited from earlier run and not updated by the "local" object:

......path in test/home/users/nico/.tmp/tmp.cdist.test.114x5i7b/out/object/__file/cdist-test-id/.cdist-lsmgc6n1/stdin

path in env.cdist-n7b2ivji

path in emu: /home/users/nico/.tmp/tmp.cdist.test.114x5i7b/out/object/__file/cdist

[2015-04-13 13:34] mtgxx opened #393 "option cannot be used multiple times in __ssh_authorized_keys"
The manpage says:

`option::
   an option to set for all created authorized_key entries.
   Can be specified multiple times.`

but it doens't work. The code only handles one option.

Thanks,
Matthias

[2015-04-15 06:19] telmich commented on #393
Hey Matthias,

busy @Seoul at the moment - will dig into this next weeks or @asteven might do if he has some time in between - in any case: PR welcome!

Cheers,

Nico

[2015-05-08 12:16] dheule opened #395 "__user_groups doesn't work on SELS11"
gpasswd -a isn't known on older linuxes like SLES11, so __user_groups doesn't work on this ones.
I submit a bugfis pull request shortly

[2015-05-15 12:49] xtaran commented on #357
There's a new effort at https://bugs.debian.org/785334 -- I've merged the two reports.

[2015-05-15 13:31] telmich opened #400 "Integrate network support"
__network_interface or co. -- also define how to handle bridges, bonding

@asteven can we implement/discuss this soon?

@thekleine might also be of interest for you

[2015-05-15 15:03] telmich commented on #357
thanks a lot, @xtaran

[2015-05-16 14:51] thekleine opened #401 "Installing a new consul-client via cdist result in an error"
@asteven I found a bug in stage file type. May this is of interest for you.

control% cdist config -vp -i manifest/consul staticweb.ungleich.ch
INFO: cdist: version 3.1.12-15-g330cb95
INFO: staticweb.ungleich.ch: Running global explorers
INFO: staticweb.ungleich.ch: Running initial manifest manifest/consul
INFO: staticweb.ungleich.ch: Running manifest and explorers for __ungleich_consul2/
INFO: st

[2015-10-21 15:58] leahneukirchen opened #409 ""make man" fails with parallel builds"
[code]

Since `-j1` works fine, probably the Makefile is missing a dependency.

[2016-03-01 16:21] greendeath opened #412 "update package list before installing new packages"
I faced some issues, that the package list from apt gets not updated and then the installation fails because the package can't be found.
I currently only know from apt, but we should ensure that for every cdist package type does a refresh of the package lists before installing a package.

[2016-03-01 16:47] telmich commented on #412
My opinion is that we need to introduce something like a "pre" and "post" stage in cdist - @asteven and I discussed this briefly before - do you have the notes, @asteven?

[2016-03-01 21:57] carlosotgz opened #413 "Error when executing code of __staged_file type"
Hello @asteven. I get this output when I execute the following command:

`control% cdist config -v 136.243.197.186
INFO: cdist: version 3.1.13-69-g36d6ffb
root@136.243.197.186's password:
INFO: 136.243.197.186: Running global explorers
INFO: 136.243.197.186: Running initial manifest /tmp/tmpacxtbhrf/conf/manifest/init
INFO: 136.243.197.186: Running manifest and explorers for __consul/
INFO: 136.24

[2016-03-11 17:39] darko-poljak opened #415 "Error in exec/local.py run method when OSError is thrown"
line 197 catches OSError and line 198 tries to raise cdist.Error:
`
    raise cdist.Error(" ".join(*args) + ": " + error.args[1])
`
args is not defined in this scope.
Even if this is changed to error.args error is for join: it expects one argument (sequence),
but *args unpacks list/tuple.

So this should be
`
    raise cdist.Error(" ".join((str(x) for x in error.args)) + ": " + error.args[1])
`
(e

[2016-03-15 02:41] zilti opened #416 "CDist completely broken - `__explorer=/var/lib/cdist/conf/explorer: Command not found.`"
I always get that error when running `bin/cdist config servername`. Why is it even trying to get anything in /var/lib? The documentation says that no local install is necessary. Symlinking the cdist directory doesn't solve anything as well, `/var/lib/cdist/conf/explorer` is a directory anyway. So, not even the most basic task is possible. Sometimes, the error is alternatively `__target_host=someho

[2016-03-15 06:33] telmich commented on #416
Can you run cdist -d servername and output the error in here so we can see what exactly triggered this (very unusual) error? Btw, /var/lib is being used on the target host, not locally.

[2016-03-15 09:26] zilti commented on #416
Ah, I see. I've pasted it below. Weirdly enough, this seems to happen in any
version, so now I really think it's something I did wrong, but I have no clue
what, since I followed the manpages exactly. Though this here is from
`master`. I'll also try to again trigger the other of the two errors.

[code]

[2016-03-15 09:33] zilti commented on #416
Ah, so here's the other. Taken on `tags/3.1.13`:

[code]

[2016-03-16 12:24] zilti commented on #416
Ok I found out something new. I think the problem is that the target server is running FreeBSD. Are there any known incompatibilities? Because I now tried it with localhost (which is a linux machine), and that works.

[2016-03-16 12:30] zilti commented on #416
A-ha, I found the solution. FreeBSD uses `tcsh`, a modified `csh`, as default shell for root. But this doesn't work. After changing the root's default shell using `chsh` to `/bin/sh`, it now works the way it is intended to.
Looking at the failed command it seems cdist also noticed the wrong shell, but placed `/bin/sh` at the wrong spot?

[2016-03-17 20:41] darko-poljak commented on #416
@zilti This is because ssh invokes commands using user's shell.
The command `ERROR: 192.168.1.2: Command failed: ssh -o User=root -q 192.168.1.2 __target_host=192.168.1.2 __explorer=/var/lib/cdist/conf/explorer /bin/sh -e /var/lib/cdist/conf/explorer/os/`
is equivalent to the `ssh -o User=root -q 192.168.1.2 a=b /bin/sh -e /path/to/script`.
This means that the command to execute at remote is `a=b

[2016-03-17 21:01] telmich commented on #416
I think you are right, we should use /bin/sh instead of defaulting to the user shell, because in some (rare, knowadays ;-)

@asteven fine with you?

[2016-03-17 21:15] telmich commented on #415
The idea was to pass on the error to the user - does that help?

[2016-03-17 23:09] asteven commented on #416
Daniel Ziltener wrote on 03/16/16 13:27:

Hi Daniel

Really sorry you're having problems :-(

Unfortunately I don't use/have FreeBSD, so can't be of much help here.

Cheers,
Steven

[2016-03-18 16:28] zilti commented on #416
I'll just change the default root shell on my machines. I was somewhat surprised that it wasn't `sh`, since it's the default user shell.

[2016-03-30 08:33] darko-poljak opened #423 "Remove bashisms"
Some of types have bashisms.
The most of it is usage of '==' comparison.
E.g. in __pacman_conf, __start_on_boot.
This code won't work on POSIX shell (dash, bourne shell).

[2016-03-30 08:43] darko-poljak commented on #415
Code is merged with ungleich/master.

[2016-03-30 08:43] #415 closed

[2016-03-30 22:20] #416 closed

[2016-03-31 10:48] darko-poljak commented on #423
Merged in https://github.com/ungleich/cdist/commit/7fe4e20f5338cdb44ec25b3cc50e31083d7fa11c

[2016-03-31 10:48] #423 closed

[2016-06-06 02:44] jdguffey opened #441 "Dependency handling failing"
I have a file, /usr/local/keys/pkg.key, referenced by a manifest as such:

__directory /usr/local/keys --owner root --group wheel --mode 755

require="__directory/usr/local/keys" __file /usr/local/keys/pkg.pub --owner root --group wheel \
   --mode 644 --source $__manifest/global_files/usr/local/keys/pkg.pub

When I execute this manifest, it consistently fails by not creating the __directory/usr/l

[2016-06-06 07:45] darko-poljak commented on #441
@jdguffey If you put in the manifest only the line:

__directory /usr/local/keys --owner root --group wheel --mode 755

does it create the directory?

Can you send debug output for that case?

[2016-06-06 21:50] jdguffey commented on #441
@darko-poljak It does. See the [attached file](https://github.com/ungleich/cdist/files/301403/cdist.output.txt).

The issue I'm having is that cdist isn't even attempting to handle the __directory prior to the __file, even though I'm directing it to with require="..."

[2016-06-07 03:36] darko-poljak commented on #441
@jdguffey Hm.. Does this happen for more complex manifest or it happens even for only those two lines:

 __directory /usr/local/keys --owner root --group wheel --mode 755

require="__directory/usr/local/keys" __file /usr/local/keys/pkg.pub --owner root --group wheel \
--mode 644 --source $__manifest/global_files/usr/local/keys/pkg.pub

[2016-06-07 04:19] jdguffey commented on #441
It [does](https://github.com/ungleich/cdist/files/301822/cdist.output.txt) work.

# ls -lrt /usr/local/keys/
total 2
-rw-r--r--  1 root  wheel  800 Jun  7 00:18 pkg.pub

[2016-06-07 04:29] jdguffey commented on #441
Also, I just discovered something after looking through my hierarchical manifests...

The particular subordinate manifest I was sourcing included a __file/usr/local/keys/pkg.pub, without the __directory/usr/local/keys constraint. Apparently the dependency resolver consistently chose to prioritize that one over the entries in the initial manifest.

This is definitely my error. That said, it does ra

[2016-06-07 06:01] darko-poljak commented on #441
@jdguffey  From the code,
cdist will raise an error if object already exists and CDIST_OVERRIDE is not defined and if already existing object parameters differ from currently defining object.
So in this case, __file/usr/local/keys/pkg.pub without 'require' was registered first.
The second __file/usr/local/keys/pkg.pub (with 'require') was detected as the same object with the same parameters so it

[2016-06-07 08:44] telmich commented on #441
I think if we encounter an object *with* a requirement *after* we found one *without* requirement the only sane thing is to abort.

If we don't abort we have a confused user (Sorry Jake) and we cannot ensure that the requirement will be fulfilled before it's definition.

It's a nice corner case here and Steven and I used to discuss a lot about dependency resolving before - it's a real fun topic!

[2016-06-08 19:48] toupeira opened #444 "__line doesn't seem to log changes"
How can I detect in `gencode-remote` if a `__line` type was modified? `$__messages_in` doesn't contain any messages like with `__file` for example.

[2016-06-10 07:04] darko-poljak commented on #444
@toupeira __line does not implement messaging.

@telmich We should add this to __line type.

[2016-06-10 12:35] toupeira commented on #444
Maybe cdist should log generic messages for all "applied" types, and maybe things like whether a `gencode-local` or `gencode-remote` produced any output? (not sure if the latter is useful)

[2016-06-10 20:53] telmich commented on #444
@toupeira I think that feature already exists, aside from messaging :-)

[2016-06-22 11:14] darko-poljak commented on #441
Merged PR https://github.com/ungleich/cdist/issues/441.
Fixed in new version.

[2016-06-22 11:14] #441 closed

[2016-07-02 22:10] zilti opened #455 "Ordering of commands in main `manifest` is ignored"
It seems 4.1.0 doesn't respect the order of the commands in the main manifest file. Is there a way to force the correct order? Is this a bug or intended behaviour?

[2016-07-03 06:11] darko-poljak commented on #455
Daniel,

The order of execution in the manifests does not matter: cdist employs an
idempotent configuration.

If you want to describe that something requires something else, just setup
the variable “require” to contain the requirements.

You can tell cdist to execute all types in the order in which they are
created in the manifest by setting up the variable CDIST_ORDER_DEPENDENCY.
When cdist sees

[2016-07-03 11:26] zilti commented on #455
Ah, yes, this variable helped. Thanks!

[2016-07-03 11:26] #455 closed

[2016-07-10 11:06] xorpierre opened #461 "improvement for package types, to add multiple parameter"
improvement for package types, to add multiple parameter, so you dont need a for loop to install multiple packages

[2016-07-27 12:15] telmich opened #466 "Type __package_yum prompts for question in rare cases (and shouldn't)"
INFO: compute-host-nicotest-nico02: Generating code for __package_yum/sssd
INFO: compute-host-nicotest-nico02: Executing code for __package_yum/sssd
Repodata is over 2 weeks old. Install yum-cron? Or run: yum makecache fast

[2016-07-27 16:26] telmich commented on #466
According to @asteven this might actually not have "hung for waiting", but more likely "hung for other reasons" and me pressing return might not have changed anything at all. Closing until I can reproduce  it.

[2016-07-27 16:26] #466 closed

[2016-07-28 13:05] #395 closed

[2016-08-05 10:36] xorpierre opened #470 "Improve case matching - strip domain part for -f/file read"
quote nico "Steven and I actually discussed having a second variable that only contains the hostname (i.e. with domain part stripped) so that matching is easier"

Issue I had:
host file with
a.bla.com
b.bla.com

case matching in manifest was only for a|b)
so matches failed when using cdist -f hostlist

[2016-08-05 11:22] telmich commented on #470
@asteven do you remember if we had good arguments to *not* provide this variable (besides finding an appropriate name)?

I think we discussed that it can easily be matched with ${__target_host%%.*} (which is true), however I think that "Parameter Expansion" (as bash calls it) is actually rather hard to read, even though easily applicable.

I vote for adding __new_good_name_that_does_not_confuse_th

[2016-08-05 13:03] xorpierre commented on #470
Alternative: make it work that I dont have to use the FQDN in the file. Even with search domain.tld in resolv.conf that doesnt work with cdist. Works fine with ssh&co

[2016-08-06 08:08] darko-poljak commented on #470
Why not have hostname, domain name, fqdn and target host (value specified at cmd line/hostfile as is) and user can then use whichever best fits his/her needs?

[2016-08-06 09:37] darko-poljak commented on #470
Actually hostname (as returned from socket.gethostname), fqdn (returned from socket.getfqdn) and target host (exact value specified at cmd line or hostfile). @asteven , @telmich what do you think?

[2016-08-06 10:08] telmich commented on #470
@darko-poljak aren't you on holidays without Internet? :-)

That suggestion sounds good to me, so we have

__target_host - as is, command line, literally
__target_hostname - socket.gethostname, derived from __target_host
__target_fqdn - socket.getfqdn, derived from __target_host

in the end. We need to clearly document that __target_host is the primary variable and the content that the user passed

[2016-08-06 14:00] darko-poljak commented on #470
@telmich yes, on holidays with only mobile network, no wifi. It was raining :( so I took a look with my smartphone...

[2016-08-10 22:18] darko-poljak commented on #470
@telmich, @xorpierre I created pull request for this issue:
https://github.com/ungleich/cdist/pull/472

@xorpierre  I don't know if this would solve your issue with stripped
domain part. Derived hostname lookup can contain fqdn or something like:
`$ host chat.ungleich.ch`
`chat.ungleich.ch has address 78.47.116.245`
`$ host 78.47.116.245`
`245.116.47.78.in-addr.arpa domain name pointer static.245.

[2016-08-11 08:28] darko-poljak commented on #470
@xorpierre Even bettet, you can use patte

[2016-08-11 08:32] darko-poljak commented on #470
Sorry for close/reopen, wrong types/clicks.

@xorpierre Even better, you can use patterns in your case.
For host file with:
a.bla.com
b.bla.com

use case matching in manifest:
 a*|b*)

[2016-08-14 20:17] darko-poljak commented on #470
@xorpierre @telmich Merged PR https://github.com/ungleich/cdist/pull/472.
Closing this issue.

[2016-08-14 20:17] #470 closed

[2016-08-21 20:19] telmich commented on #401
Fixed some time ago

[2016-08-21 20:19] #401 closed

[2016-08-21 20:27] telmich commented on #357
It's in! https://packages.debian.org/sid/admin/cdist

[2016-08-21 20:27] #357 closed

[2016-09-12 15:15] andres-erbsen opened #483 "__user_groups cannot add and remove groups at the same time"
__user_groups cannot add and remove groups at the same time. The listed groups can be marked as absent or present, but not individually. It would probably be a good idea to make `__user_group/user/group` object that allows setting group membership one by one, or maybe `__group --members` that allows specifying a complete list of members (and removes all other users). Which of those would be more l

[2016-10-26 18:44] darko-poljak opened #488 "PreOS issues"
For PreOS to boot from drive/usb additionally the following need to be configured:
- setup root password and/or ssh authorized key
- ensure ssh server is started at boot
- configure boot loader (grub)
- install boot loader (grub) (optional param with drive specification - for PXE this is not needed).

PreOS architecture:
- preos subcommand: config subclass with preos marker?
- think about preos tr

[2016-10-30 18:28] darko-poljak opened #489 "cdist does not support IPv6 target host address"
When IPv6 target host address is specified then cdist does not work.
This is because of scp command.
The error is:
cp: cannot create regular file '::1:/var/lib/cdist/conf/explorer': No such file or directory.
This is because ':' is separator for scp command.
IPv6 address should be enclosed between '[' and ']'.
This should be done in cdist python code when constructing remote_copy command.
It shoul

[2016-11-02 13:03] darko-poljak commented on #489
See https://github.com/ungleich/cdist/pull/491

[2016-11-03 06:51] 4nd3r opened #492 "'__target_fqdn': self.target_host[2], IndexError: string index out of range"
sorry about issue subject, couldn't figure out better title :>

i was testing @darko-poljak's inventory system.

this happened:

[code]

nothing special about failed hosts - one debian wheezy, 2 jessies.
base config is identical to others. at least it should be :>

debug run:

[code]

using fqdn works:

[code]

problem were introduced somewhere in between 4.2.2 (last good) and 4.3.0.

did bisectin

[2016-11-03 09:37] darko-poljak commented on #492
Can you also post debug output for the case it works? Thanks

[2016-11-03 12:27] darko-poljak commented on #492
@4nd3r I found the problem. It should be now fixed. I pushed the fix to 'inventory' branch. Please test it with the same params and hosts.

[2016-11-03 13:41] 4nd3r commented on #492
@darko-poljak thanks, no more failed hosts! fixed and closing.

[2016-11-03 13:41] #492 closed

[2016-11-26 07:21] 4nd3r opened #498 "__apt_mark improvements"
__apt_mark needs 1 or 2 improvements.

first there should be check if package is installed (if not, then exit) and secondly apt version check. `apt-mark hold` is supproted since wheezy which is also oldest supported debian release. but life is more difficult and there's probably enough squeezes and lennys in production in somewhat closed networks and running that type against squeeze or older will

[2016-11-28 12:11] darko-poljak commented on #489
PR merged.

[2016-11-28 12:11] #489 closed

[2016-12-07 08:14] 4nd3r commented on #498
@telmich @darko-poljak can you give me some feedback? thanks.

[2016-12-07 08:36] telmich commented on #498
Re package installed: completely agree - you should use an explorer for this. In the same way you can check the apt version and abort in the manifest, if the apt version is too low (which is a good check because someone might backport it to lenny - so we cannot rely on the distribution version)

Basically for this case create the two explorers to keep the type closed - it does not depend on others

[2016-12-07 12:48] 4nd3r opened #506 "little bit better manifest handling"
right now `-i` accepts path to manifest, but we know where manifests are - `~/.cdist/manifests/`.

since I work with lots of different manifests, following improvements to cdist would be nice:

1. do somekind of fuzzy search from known manifests directory when `-i some_manifest_name`
2. add tab combletions to get list of manifests

I don't use subdirectories in manifests, but someone maybe is, so

[2016-12-07 13:01] telmich commented on #506
I agree to fancy tab completion, but not to cdist doing fuzzy search - as it implies guessing, which might be wrong. Subdirectories are actually in use by some people.

[2016-12-07 16:22] 4nd3r commented on #506
ok, fair enough.

i was looking at `cdist-completion.bash` and it looks rather simplistic, yet i couldn't figure out how to disable completion when `-i` is used so i could navigate to `.cd<TAB>/m<TAB>/`...

[2016-12-09 06:38] #498 closed

[2017-01-12 08:57] asteven opened #512 "Ideas for a nicer way to support different os's/implementation in types"
Just thinking out loud.

Instead of the endless case esac if os then else what if a type would have a internal API?
Maybe in form of shell functions?
Then there could be a default implementation, e.g. in __some_type/lib/default
And if some $os doesn't like that it can create it's own implementation in _some_type/lib/$os

The gencode-* would then just call shell functions which write to stdout.
e.g

[2017-01-12 09:53] toupeira commented on #444
@telmich not sure what you mean :) So is it currently possible to detect if a `__line` type actually caused a change?

[2017-01-14 09:04] telmich commented on #512
Great idea! But I suggest using $__type/files/lib instead

[2017-01-27 10:44] 4nd3r opened #514 "-v doesn't have any effect"
shouldn't `-v` be `-vv` instead?

[2017-01-27 15:12] darko-poljak commented on #514
@4nd3r -v was changed to be option that increases a verbosity level by one with each instance.
So, without any -v verbosity (logging) level is set to ERROR. One -v equals to WARNING, two -v equals to INFO, four and above means DEBUG. cdist has few warning loggings and in particular situations so the impression is that there is no effect.
Perhaps we should better explain the option in man page.

[2017-01-28 15:06] darko-poljak commented on #514
@4nd3r Take a look at https://github.com/ungleich/cdist/pull/515.
I think we will also extend -v option with additional optional argument that will directly set desired verbosity level.

[2017-01-28 16:05] darko-poljak commented on #514
Written better -v option description in PR https://github.com/ungleich/cdist/pull/515.

[2017-01-28 16:05] #514 closed

[2017-02-01 22:07] asteven opened #517 "cache dir is not explicilty created"
The cache dir is not explicitly created.
Have never had a problem with this until running cdist inside a docker container.
The patch which will be added here shortly fixes the problem.
I have no real explanation for why this never showed before.

[code]

[2017-02-01 23:04] asteven opened #518 "non-portable shell code in type manifests/gencodes"
Running in a busybox environment it looks like I will be hitting few of these.
Using this ticket to group them and then submit a pull request later on.

e.g. __staged_file/gencode-remote uses mktemp --tmpdir, should be mktemp -p instead

[2017-02-02 07:15] 4nd3r opened #519 "can't mv file"
I needed quick and dirty file moving type, so I made one: ec91c78dd0d6cfc2bf2c572e3b515c02ba5a3fa8
(yeah, sure, maybe I'm doing it wrong with cdist, but that's a story for another day)

manifest:
[code]
but running this type resulted strange error:
`mv: cannot stat ‘/tmp/move123’: No such file or directory`

but file is there:
[code]

what am I missing here?

[2017-02-02 07:23] 4nd3r commented on #519
and it took me 5 seconds to understand what I'm doing wrong, sigh

[2017-02-02 07:23] #519 closed

[2017-02-02 20:25] darko-poljak commented on #518
Here is some POSIX related output form `shellcheck`
[code]

[2017-02-08 06:41] asteven commented on #506
This seems to be resolved. Please create a new issues if you think otherwise.

[2017-02-08 06:41] #506 closed

[2017-05-26 16:11] iredmail opened #524 "Feature requests and questions"
* [ ] doc: How about encourage user to install cdist with `easy_install`, `pip` from pypi? git version may be not so stable. And yum/apt packages in linux distributions may be out of date.
* [ ] doc: where can i save ENVIRONMENT variables? It's easy to use `export TMPDIR='/tmp'` temporarily, but any config file i can store it?
* [ ] doc: (ssh) how to use normal user with sudo instead of using root

[2017-05-26 16:20] telmich commented on #524
non standard port: use ~/.ssh/config - it's not cdist's role to care about that (or in other words: ssh can do it much better)

[2017-05-26 16:22] iredmail commented on #524
I disagree.

I would prefer to do it with just cdist. For example, we can use `<server>:<port>` as target host. i don't want to touch other config files, better not add an entry for each host i manage.

[2017-05-26 16:23] telmich commented on #524
Btw, thanks for opening the issue here - it's a good place to discuss!

[2017-05-26 16:23] iredmail commented on #524
Pleasure, always. :)

[2017-05-26 16:35] iredmail commented on #524
We need to support more ssh options in a HOSTFILE. for example:

* target host server name/address. This is ok right now since cdist requires one host per line.
* ssh port number
* ssh login username
* the shell used to execute our `type`

Personally i think the Ansible style inventory file is very good. for example:
[code]

Those `ansible_*` variables are officially supported by Ansible, but it's

[2017-05-27 07:54] 4nd3r commented on #524
using `cdist` straight from git checkout is easy, but I agree that maybe it needs some clarification. but if you are already picking `cdist` and shell scripting, you should be knowing what are you doing anyway eg how PATH works etc :>

about stability of git master branch - maybe keep all development under different branch (we already have beta branch, lets have next or develop?) and let master al

[2017-05-27 08:21] iredmail commented on #524
The point of using pypi edition is user always get the LATEST STABLE release, You can also mention git way (for advanced user or hacker). It's terrible that it doesn't work when user first tries it.

So many Amazon EC2 users use only `ubuntu` user with sudo.

I would suggest don't mess up `~/.ssh/config`. This way you have to put `~/.ssh/config` in same git repo of your manifest files. With Ansibl

[2017-05-27 16:42] telmich commented on #524
@iredmail can I invite you to https://chat.ungleich.ch on channel #cdist for further discussion? Specifically we are debating about the macos problem that you have shown (and is actually pretty nasty)

[2017-05-28 00:27] iredmail commented on #524
How about use existing irc.freenode.net #cstar channel? My id is "zhb".

[2017-05-28 08:09] telmich commented on #524
@iredmail the reason why we moved away from IRC is exactly what happens in IRC: when you are away, we cannot continue the discussion / you don't see the messages that I wrote while you are away

[2017-05-28 08:57] 4nd3r commented on #524
sorry for offtopic, but isn't there a way to bridge irc and rocket.chat?

matrix has rocket.chat bridge, for example.

[2017-05-28 17:54] darko-poljak commented on #524
@iredmail cdist man page and man page part of html docs in options list mentions that -d is deprecated and that -vvv should be used instead.

[2017-06-14 20:49] 4nd3r opened #531 "expose host tags in manifests"
something like `$__target_tags`, which contains all tags assigned to host in inventory.

tried to do it myself, but i really suck at python and ended up with awful hack.

pretty please?

[2017-06-15 09:21] AnotherKamila commented on #531
+1!

[2017-06-16 09:57] darko-poljak commented on #531
@4nd3r beta now supports __target_host_tags env var.
It contains comma separated list of target host tags. If host is not present in inventory or has no tags then this var is empty. It is exposed to global explorers, type explorers, initial manifest, type manifest, gencode-*.

Please test it. Please test also configuring host that is not present in inventory and configuring host by its address whe

[2017-06-16 13:45] 4nd3r commented on #531
space separated tags would be better imho. for example to loop through them using `for a in $b` etc.

will test new week, but now wilderness is calling. thanks!

[2017-06-16 19:51] darko-poljak commented on #531
@4nd3r Since command for adding tags specifies list of tags to be comma separated list of values I exposed the same list in this env var.

<pre>
OLD_IFS=$IFS
IFS=","
for a in $b
...
IFS=$OLD_IFS
</pre>

[2017-06-19 13:46] Unterstrichmoepunterstrich commented on #524
Hello,

I have another feature request:

it would be great, when cdist would be able to parse the /etc/hosts.
E.g. you changed a dns entry and now you have to wait, so you make a entry in your hosts file. You can ping the host under the new name but you can't use ssh/cdist.

[2017-06-19 14:57] telmich commented on #524
@Unterstrichmoepunterstrich Not sure if I understand the request correctly - but cdist uses standard libc parsing, so it actually uses /etc/hosts by default

[2017-06-27 14:17] asteven opened #536 "RFC: Rethink logging to be more usefull for the user"
-v is basically non-existent. But would be the most important logging
-vv is to verbose. We use it to show a trace of code flow.
-vvv (aka debug) is very verbose, close to useless imho.

I propose to change our logging as follows:

| level | cli flag | used for |
|---|---|---|
| ERROR | default | well for errors ;-) |
| WARNING | default | well for warnings ;-), altough I don't see much reason to

[2017-06-27 15:14] darko-poljak commented on #531
@4nd3r Any news on this?

[2017-06-27 15:39] darko-poljak commented on #536
@asteven

I would do it in this order, to go with convention (e.g. TRACE is finer-grained than DEBUG).
I also took inspiration from nping
https://nmap.org/book/nping-man-output-options.html

ERROR = 40 (cdist level -1, -v-1)
WARNING = 30 (cdist level 0, default, -v0)
INFO = 20 (cdist level 1, -v, -v1)
VERBOSE_INFO = 15 (cdist level 2, -vv, -v2)
DEBUG  = 10 (cdist level 3, -vvv, -v3)
TRACE = 5 (cdi

[2017-06-27 16:19] 4nd3r commented on #531
ahaa, yes.
i'm already taking advantage of `$__target_host_tags` in some manifests and no issues so far.

[2017-06-27 16:20] telmich commented on #536
Just my 2 cent: if python already defines 5 log levels, I suggest to use them.

I don't see an advantage in creating custom levels - prove me wrong, but simplicity usually wins.

[2017-06-27 16:38] darko-poljak commented on #536
@telmich There is no TRACE log level. I would also remove VERBOSE_INFO and add only TRACE.

[2017-06-27 16:52] darko-poljak commented on #531
@4nd3r Great! :) Then I am closing this issue. If you (or someone else) find some issue then open new one.

[2017-06-27 16:52] #531 closed

[2017-06-27 16:56] darko-poljak commented on #536
@asteven @telmich The following?

ERROR = 40 (cdist level -1)
WARNING = 30 (cdist level 0, default - for simplicity for now WARNING and ERROR are united in lowest and default level)
INFO = 20 (cdist level 1, -v)
DEBUG = 10 (cdist level 2, -vv)
TRACE = 5 (cdist level 3, -vvv)

[2017-06-27 17:05] telmich commented on #536
ok with me

[2017-06-27 19:52] asteven commented on #536
@telmich there is nothing wrong with creating custom logging levels. What the end user cares about is INFO (the new one) and ERROR. Everything else is basically just for us/internal use. We can do whatever we want with our logging. After all this is totally self contained within cdist.

[2017-06-27 20:30] asteven commented on #536
@darko-poljak Who said TRACE is finer-grained than DEBUG? There's no law that dictates what log levels are called.

I based the names and order on https://stackoverflow.com/a/5278006 just because it's the most complete, well-founded example I found.

But I don't care that much about the names. Having 4 different/usable logging levels is what I'm after.

Looking at the current logging output:

[cod

[2017-06-27 20:57] asteven commented on #536
What about:

| level | cli flag | used for |
|---|---|---|
| ERROR | default | well for errors ;-) |
| WARNING | default | well for warnings ;-) |
| INFO | -v | only target state changes |
| VERBOSE | -vv | most of what we currently log as INFO |
| DEBUG | -vvv | developer written debug log messages |
| TRACE | -vvvv | command lines, arguments, command output files, all the stuff that is usually t

[2017-06-27 21:22] darko-poljak commented on #536
@asteven As it seems most logging frameworks use TRACE < DEBUG.
SLF4J, Logback, log4j, Apache Commons Logging, Log4Net, NLog, apache httpd as an application example, as mentioned in comment in above reference and for example in https://stackoverflow.com/questions/2031163/when-to-use-the-different-log-levels.
In my opinion tracing execution of each step is finer-grained than debug messages.

I agre

[2017-06-28 08:20] darko-poljak commented on #536
@asteven @telmich I redefined cdist logging facility. Take a look: https://github.com/ungleich/cdist/compare/master...darko-poljak:better-logging

If you have no remarks then we can continue with cleaning messages and message levels.

[2017-07-03 13:48] 4nd3r opened #540 "make everything pass shellcheck"
even if we exclude SC2154 (something is referenced but not assigned), then others should be dealt with in some point. yes, that's lot of work :>

thoughts on this?

[code]

[2017-07-04 21:45] asteven opened #542 "ssh connection multiplexing race condition"
Someone elses ticket says more then a thousand words https://github.com/ansible/ansible/issues/16731

In short: ssh connection fails with errror -13 if the ssh client tries to use a master connection just while that is being closed due to timeout.

[code]

[2017-07-08 06:30] darko-poljak commented on #536
Branch better-logging merged to master.

[2017-07-08 06:30] #536 closed

[2017-08-10 21:43] #542 closed

[2017-08-20 19:35] antifob opened #558 "explorer reuse between types"
I made PR #557 to not rely solely on getent(1) to get passwd entries (among others) and
just noticed there is overlap with other types' explorers (e.g. __ssh_dot_ssh). As such, I am
wondering whether it would not be more appropriate to allow types to share explorers rather
than having to duplicate code on all changes..

Placing them in __global/explorer would make them run automatically, which is

[2017-08-20 19:56] telmich commented on #558
That is an interesting question! We so far have not had that much and thus not the need for a solution, however we implemented __files lately (maybe a year ago) and maybe we could either use that or some other location to provide for "reusable explorers".

We might though want to even go one step further and @asteven will be very awake when he reads this and maybe create something like a "shell li

[2017-08-21 01:41] uqam-fob commented on #558
Wonderful!

I implemented a small proof of concept in: https://github.com/uqam-fob/cdist/commit/d5c1a7cd7740ce30fff41b6c077257687eaa6546

[2017-08-21 10:28] darko-poljak commented on #558
@uqam-fob Please join ungleich's cdist chat channel: https://brandnewchat.ungleich.ch/ungleich/channels/cdist, a place for main cdist discussion.

[2017-08-21 12:25] darko-poljak commented on #558
@asteven @uqam-fob @telmich Perhaps this can be connected with this idea: https://github.com/ungleich/cdist/issues/512

[2017-08-21 15:52] uqam-fob commented on #558
@darko-poljak No offense, but no thanks, I am getting a heavy (many, many seconds) response time trying to hit the page, plus I won't receive a confirmation.

Anyways, #512 is about clean code while the issue I raised is about maintenance. Although I understand and agree with the fundamentals of #512 , transparent execution of "lib/default" vs "lib/$os" could lead, from where I stand, to debugging

[2017-09-13 01:50] pcoder opened #577 "__ssh_authorized_keys overwrites existing keys"
If a given key is not a valid public key or if it contains some whitespaces at the end, `__ssh_authorized_keys` seems to overwrite the existing authorized keys.

Here are the two cases that I found erroneous.

1. Invalid public key
[code]

2. Valid public key with trailing whitespaces
[code]

[2017-09-13 13:49] darko-poljak commented on #577
@pcoder I will take a look soon.

[2017-09-13 15:24] darko-poljak commented on #577
@pcoder Can you give an example?

1. authorized_keys file content before running cdist
2. init manifest content
3. authroized_keys file content after running cdist
4. expected authorized_keys file content after step 3.

So that I know what to reproduce.

[2017-09-13 16:11] pcoder commented on #577
@darko-poljak

1. authorized_keys file content could be containing any number of keys. For instance lets take this, a randomly chosen public key
[code]

2. init manifest content
[code]

3. authorized_keys file content after running cdist
[code]

4. expected authorized_keys file
[code]
or at least if the public ssh key is not a valid format, the original key *should not* to be overwritten

[2017-09-13 16:17] pcoder commented on #577
Whats worse is that if we have many keys in authorized_keys file, all of them are overwritten with `testtesttestsetestststestsetest`

[2017-09-13 16:35] pcoder opened #578 "Temporary directory is not cleaned up in cdist-web"
[code]
Everytime I run `my_configure_host` one or more new temporary directories are created in /tmp and they don't get cleaned up on completion of the script.

However, if I run the same manifest using `cdist config -vv my_host`, the temporary directory is cleaned up perfectly.

[2017-09-13 16:40] darko-poljak commented on #578
@pcoder Are you using ungleich/master?

[2017-09-13 19:05] darko-poljak commented on #577
@pcoder I cannot reproduce a case where key is valid but has trailing whitespace. Do you have an example?
I have reproduced a case where key is invalid. Here the problem is in explorer/entry.

[2017-09-13 19:36] pcoder commented on #578
Yes @darko-poljak and this commit 08bc38dd0fc85e88b65d3068827346686a1e20f0

[2017-09-13 19:41] pcoder commented on #577
@darko-poljak check this out

[code]

[2017-09-13 19:54] darko-poljak commented on #577
@pcoder Nope, it works with this key. Are you sure you have only this in your manifest and that it clears existing file?

[2017-09-13 20:18] pcoder commented on #577
I think you are right there @darko-poljak I may have overlooked this.

[2017-09-13 20:24] darko-poljak commented on #577
@pcoder Ok, I will prepare a fix for an invalid key case.

[2017-09-14 08:00] darko-poljak commented on #578
@pcoder Can you git pull and try again? I made a fix.

[2017-09-14 08:48] pcoder commented on #578
Thanks @darko-poljak for the quick fix. That works like a charm 👍

[2017-09-14 08:48] #578 closed

[2017-09-17 06:13] #577 closed

[2017-09-26 11:08] darko-poljak commented on #540
@4nd3r I am starting to work on this. I will create a PR with first changes where we can further discuss this.

[2017-09-26 17:01] tom-ee commented on #412
For the specific issue: Updating the package cache introduces
a) longer runtimes for cdist
b) increased network-traffic and
c) more dependencies on external network
Depending on the interval cdist is running this executed the impact of this varies.
CFEngine has the concept of time and thus the ability to allow things like "update the package cache if it is older than X". For apt I did a hack by ad

[2017-09-26 19:06] darko-poljak commented on #540
Can you take a look at https://github.com/ungleich/cdist/compare/master...darko-poljak:shellcheck if you can spot some mistake prior to creating PR?

[2017-09-26 20:08] 4nd3r commented on #540
woah, that's a big change! it'll take some time to scroll through it. will do.

[2017-09-27 10:19] #444 closed

[2017-09-27 11:09] toupeira commented on #444
@darko-poljak thanks! 👍

[2017-09-27 13:57] darko-poljak commented on #444
@toupeira Thanks to @tom-ee !

[2017-09-27 16:24] darko-poljak commented on #540
Hm...  shellcheck can not check code that would be generated by gencode unless code is checked after it is generated. Guess this should be fixed when someone reports it. Or we look gencode by gencode and see if we spot something. Ideas?

[2017-09-28 08:04] darko-poljak commented on #518
This will be handled in https://github.com/ungleich/cdist/issues/540, so I am closing this one.

[2017-09-28 08:04] #518 closed

[2017-09-28 08:05] darko-poljak commented on #540
@asteven Can you also take a look if you have time?
Here https://github.com/ungleich/cdist/issues/518 will also be handled, it is its duplicate.

[2017-09-28 08:06] darko-poljak commented on #540
We need to check code generation and fix as many as we notice.
e.g.: __staged_file/gencode-remote generates code that uses mktemp --tmpdir, should be mktemp -p instead.

[2017-09-28 09:18] darko-poljak commented on #540
@asteven  For mktemp, POSIX does not specify mktemp utility.
Also, -p is not defined for FreeBSD mktemp. TMPDIR env var is used for this, '/tmp' as default if not set.
So I suggest to use:
`TMPDIR=/tmp mktemp...`

[2017-09-28 19:49] darko-poljak commented on #540
For specific things, like apt types, which uses GNU version of find I think we do not need to port it to portable POSIX shell code, because apt is specific for debian-like GNU/Linux distros which have GNU tools by default.

[2017-09-29 05:30] 4nd3r commented on #540
then we should add `# shellcheck disable=<code>` before that line.

[2017-09-29 07:58] darko-poljak commented on #540
We can add Makefile target for shellcheck manifest and gencode-*.
Although we won't be able to check code-* scripts.

[2017-10-04 05:02] schvabodka-man opened #585 "Add support for dnf"
Hello. Currently yum is getting obsolete in RHEL/Fedora/CentOS and it's being replaced by the dnf. The cdist still doesn't have "native" support for dnf, only __package_yum and this makes cdist hard to use on new fedora/centos versions. Would be really awesome if there would be __package_dnf

[2017-10-04 12:32] darko-poljak commented on #585
Can you perhaps provide PR with new __package_dnf type?

[2017-10-04 12:36] schvabodka-man commented on #585
That would be hard to provide because i obliviously don't have code for pull request

[2017-10-31 13:29] tom-ee opened #592 "Documentation of (global) explorers"
Currently there is no documentation of global explorers. Type explorers _could_ be documented in the `man.rst` of the type man page -- but are (mostly?) not.

* should there be a standard-way to document global exporers, i.e. `explorer/<explorer-name>.rst`?
* in particular for #558: should the documentation of type explorers be mandatory in `man.rst`?

Most global exporers are currently rather sim

[2017-11-07 15:39] winduptoy commented on #154
@telmich I'm having trouble with this one.

On remote machine, `/etc/TEST.txt`
[code]

[code]
leaves the file unchanged. Is there something I'm missing necessary to escape those single quotes?

[2017-11-08 07:38] darko-poljak commented on #154
@winduptoy Can you test a fix from PR: https://github.com/ungleich/cdist/pull/594

[2017-11-08 14:01] winduptoy commented on #154
@darko-poljak @telmich #594 works for me.

[2017-11-09 15:20] lubo opened #595 "Onchange command in __config_file is not executed after state change"
When a config file state changes from present to absent, onchange command is not being run.

[2017-11-09 15:39] darko-poljak commented on #595
@lubo Can you perhaps fix this bug?
Do you have non-working case (init manifest sample) with expected result?

[2017-11-10 11:22] #595 closed

[2017-11-12 22:04] Unterstrichmoepunterstrich opened #599 "Skip empty lines in parameters"
Hello,

when I have some empty lines in parameters/ then cdist fails.
When I remove all spaces, cdist runs  correctly.
It would be great, if cdist would skip these empty lines.

[2017-11-15 06:30] #599 closed

[2017-12-22 16:33] uqam-fob opened #607 "Option argument cannot begin with an hyphen"
The following fails:
[code]
[code]

Regards

[2017-12-24 18:39] darko-poljak commented on #607
@uqam-fob Try this instead:
<pre>
__line /tmp/xx --regex='-x' --line 'x'
</pre>

The above that fails is a known failure/bug with argparse module which is used by cdist.
Please send your feedback.

[2017-12-24 19:07] uqam-fob commented on #607
Thanks, @darko-poljak, for the pointer. it still fails to I PR'ed a fix.

For those interested: upstream argparse issue at https://bugs.python.org/issue9334

[2017-12-29 16:09] #607 closed

[2018-01-27 15:41] uqam-fob opened #614 "No output for manifest or remotes"
Commit 9703e0f08e979640fc1956fbe7fd2e763dde39f1 "broke" things for us.

We used to, among other things, trace execution by calling `set -x` from inside our remote scripts. This patch silences the output.

Why was this change introduced? Why is there no documentation? And why is there no way to configure this behavior?

[2018-01-29 12:35] darko-poljak commented on #614
@uqam-fob The reason for implementing output-streams: important information was lost during a config run, hidden in all the other output.
We now store all that, including error messages.
This all is saved into following files under host entry (sub-directory) under ~/.cdist/cache:
[code]
and for each object under
[code]
there could be files like manifest, gencode-remote, code-remote, gencode-local,

[2018-01-29 17:24] uqam-fob commented on #614
Thanks for the information.

When I wrote "remote scripts", I was mentioning "remote-copy" and "remote-exec" scripts; as this patch affects more than the scripts you mentioned. Knowing exactly what commands are executed helps us analyzing the execution and what is being done on our systems. Also, `set -x` only prints executed commands to stderr, nothing specific about shell scripts here.

I unders

[2018-01-29 21:36] asteven commented on #614
I understand your problem: it used to work, now it doesn't. Without you changing anything yourself. That sucks from a users point of view.

I implemented the output stream capturing because I had some real problems debugging things when running multiple cdist runs in parallel. The unexpected output, e.g. warning and error messages from commands run in generated code are all printed in random order

[2018-01-30 08:36] thriqon opened #615 "__package_apt ignores --version parameter"
The default cdist type `__package_apt` appears to ignore the `--version` parameter completely (assuming the Docker repository has been already provided beforehand):

[code]

Are there any reasons this is happening right now or is this simply a bug?

[2018-01-30 16:33] darko-poljak commented on #615
@thriqon In __package_apt version parameter is not yet supported. I will implement this support and you can test it.

[2018-01-30 16:36] darko-poljak commented on #614
@uqam-fob @asteven Adding option to turn this off shouldn't be hard. I will take this task and this new command line/config option. If you agree, by default, saving output streams will be turned on.
I also plan to add docs chapter where saving output streams will be described/explained in more details.

[2018-01-30 19:54] uqam-fob commented on #614
@asteven Yes, I understand the problem and why it might be desired. Overall, I think it is a good solution. I just don't see why it should be forced on users.

@darko-poljak This looks like a good change for us. Whether the default or not, if the feature can be opted-in/-out, it would be greatly appreciated 👍 Documentation would help to prevent confusion too, so would be a nice addition.

[2018-01-31 08:55] darko-poljak commented on #615
@thriqon I added support for `--version` to `__package_apt`. Can you clone my repo and checkout
https://github.com/darko-poljak/cdist/tree/package_apt_version and test it?

I tested type with the following manifests in the following order.
1. `__package curl --version "7.52.1-5+deb9u4`
2. `__package curl --state present`
3. `__package curl --state absent`
4. `__package curl --version "7.52.1-5+deb

[2018-01-31 19:12] #130 closed

[2018-02-01 13:46] tom-ee commented on #614
I'd second adding a switch to disable the "save output streams". In particular the `stderr/*`- and `stdout/*`-files created by the new features are only available _after_ the config-run has finished.

The `messages`-file is only created if the config-run does not error-out. Is this also the case for output-streams?

[2018-02-01 15:57] darko-poljak commented on #614
@uqam-fob @asteven @tom-ee https://github.com/darko-poljak/cdist/tree/output_streams_switch
Can you clone my repo and test this branch?
If you run cdist config as usual then output streams will be saved.
If you run cdist config with `-S` option then saving output streams should be disabled.

@tom-ee Yes, those files are saved to cache only after run has finished. In case of error those files are n

[2018-02-01 15:57] #615 closed

[2018-02-01 20:17] uqam-fob commented on #614
[code]
:+1:

[2018-02-02 11:17] tom-ee commented on #412
__package_update_index got the `--maxage <seconds>`-parameter (for apt) w/ commit 4d4d76bb382126b69d1ac79faa98176c3a5744db.
With `--maxage 3600` the `apt-get update` only runs if the last update was at least 1 hour ago.

[2018-02-07 17:12] #614 closed

[2018-02-07 17:16] darko-poljak opened #622 "Write new __apt_source with index update and deprecate old type"
Plan is to write new __apt_source type that issues update when needed
and to deprecate old __apt_source which uses __apt_update_index.

@tom-ee This is related to https://github.com/ungleich/cdist/pull/618.

[2018-02-11 09:23] tom-ee opened #624 ""messaging" in cdist: What should be messaged?"
This is a general question regarding messaging:
What is messaged/written to `$__messages_out`?

Currently messages seem to be issued in an ad-hoc style: If the implementation of a type requires messaging, e.g. to act on some change in `gencode-remote`, messages are added.

Also there might be some historical/technical dept as the messaging concept was added with/around v3.0.0 of cdist and existing

[2018-02-11 10:10] tom-ee opened #625 ""relaying" messages?"
This is related to #624.
With PR #623 the question of "message relaying" re-surfaced (just using this PR as an example):

The re-implemented `__apt_source` manipulates files in `/etc/apt/sources.list.d/` and messages for these manipulation are through the used `__file`-type.
We could "relay" the message by parsing `$__messages_in` in `__apt_source/geocode-local` and issue a message on it's own (re

[2018-02-11 14:21] telmich commented on #624
I agree rephrasing it to  "Every change to the target system SHOULD result in a message".  Even though consistency is a nice thing, I would not recommend to implement it, when nobody is using it.

Tracing if there is any change could/should be done by inspecting code-* ---> if there is code, there is a change (I know this is not always trivial, but would be the cleanest solution).

[2018-02-13 17:00] tom-ee commented on #624
The rephrased version combined with a recommendation against implemention it if it's not used is the current state.

For _debugging_  inspecting `code-*` is the best way for sure. My intention for the proposal was targeted at the "day-to-day"-use, e.g. to allow

- monitoring the `messages`-file and feed that into a monitoring system. If cdist is running on a fixed interval we can detect flapping c

[2018-02-20 15:53] tom-ee commented on #622
PR #623 resolved this.

[2018-02-20 16:08] tom-ee opened #630 "messaging and documentation of __consul"
Not sure how visible a comment on an existing commit is, so opening an issue:
I added a comment on the latest `__consul`-commit c0dc26a5771a5c136724f5046fda979f2e256d31

[2018-02-20 17:40] #622 closed

[2018-02-20 18:00] tom-ee opened #631 "local cache `~/.cdist/cache/<md5 hash>`"
We now have documentation for `Local cache overview` thanks to @darko-poljak :)

The one thing I'm wondering about is the md5-hash of the hostname: It buys nothing for uniqueness. The allowed characters in a hostname are fine for naming a directory.

Would it be reasonable to change the cache path to `~/.cdist/cache/${__target_hostname}` instead of `~/.cdist/cache/$(echo -n ${__target_hostname} |

[2018-02-21 08:52] darko-poljak commented on #631
@tom-ee You can change host cache directory name, see CACHE PATH PATTERN FORMAT in cdist man page. This is also mentioned in local cache overview docs chapter.

It was changed from target host name because cdist can be used with custom remote_exec/copy and target host can be anything, not only valid hostnames. For example, for custom remote commands that work wich chroot target host can be a direc

[2018-02-21 08:52] #631 closed

[2018-02-21 09:02] darko-poljak commented on #630
@tom-ee Thanks for pointing this.
https://github.com/ungleich/cdist/commit/1f93e7291e3da06c412a2a5d1005ed7b59e4b7ef

[2018-02-21 20:20] #630 closed

[2018-02-22 17:25] AnotherKamila opened #632 "[BETA] bug: error info lost with parallel (option -j)"
When running with `-b -j$whatever` and cdist fails, the stderr from types (NOT from the initial manifest) is not shown, which makes debugging types very hard.

# What I expect
if a type fails, its stderr should be displayed, just like when running without parallelization

# What happens
stderr not shown

# Steps to reproduce

**`type/__test_type/manifest`:**
[code]

**`manifest/init`:**
[code]

Ou

[2018-02-22 17:59] tom-ee commented on #632
Might help with narrowing this down: Does the stderr make it (to stdout *sic*) if the output-stream-capture is disabled with `-S`?

[2018-02-22 18:21] AnotherKamila commented on #632
When running `cdist config -b -j4 -S localhost`, the stderr indeed is on stdout:
[code]

Note that in the above, not only the stderr, but also the other info about the error is missing -- the whole section "Error processing object '__test_type/whatever'" with path info is not there.

[2018-02-23 15:30] telmich opened #633 "__consul fails if consul is already running"
ERROR: [10578]: server2.place5.ungleich.ch: Command failed: 'ssh -o User=root -o ControlPath=/tmp/tmp_ni15m4t/s -o ControlMaster=auto -o ControlPersist=2h server2.place5.ungleich.ch /bin/sh -c ' export __object=/var/lib/cdist/object/__consul/.cdist-kx2yfbz9;  export __object_id=;/bin/sh -e /var/lib/cdist/object/__consul/.cdist-kx2yfbz9/code-remote''
return code: 2
---- BEGIN stdout ----
---- END s

[2018-02-23 20:16] darko-poljak commented on #633
@telmich Does this happen when using default non-direct, staged file method, too?

[2018-02-24 11:24] darko-poljak commented on #633
Ah, unzip should be rewritten to unzip to temp then rm orig then mv temp to orig. It is the way unix/linux kernel and inodes work.

[2018-02-25 08:54] darko-poljak commented on #633
@telmich Can you test https://github.com/darko-poljak/cdist/commit/b870b6e43a0b83c2a3a192cff6846b9248e23e1c ?
Thanks!

[2018-02-25 22:01] darko-poljak commented on #633
Tested with consul agent running.

[2018-02-25 22:01] #633 closed

[2018-02-25 22:51] darko-poljak commented on #632
@AnotherKamila Can you test? https://github.com/darko-poljak/cdist/commit/cf36aece7df7661ac96a30928c6b4e3c5cdf9853

[2018-02-25 22:52] darko-poljak commented on #632
My cdist conle at branch https://github.com/darko-poljak/cdist/tree/bugfix/error_info_lost_with_jobs_%23632

[2018-02-26 12:05] matthijskooijman commented on #266
Seems the `__hostname` type has long since been merged, can this issue be closed?

[2018-02-26 12:08] #266 closed

[2018-02-26 12:11] matthijskooijman opened #635 "--beta on the commandline does not seem to work"
With 4.8.0:
[code]
Printing `parser_args` (at https://github.com/ungleich/cdist/blob/4.8.0/cdist/argparse.py#L439) gives:
[code]

It seems the problem is that the "beta" parser is listed as a parser of the "inventory" parser as well as of the "list" parser, and the latter seems to overwrite `parser_args['beta']` with its default. This is confirmed by the fact that this does work:
[code]

Not sure

[2018-02-26 12:27] matthijskooijman commented on #635
It seems that this also breaks the `CDIST_BETA` env var. It is parsed properly, but then overwritten with the default False from the commandline here: https://github.com/ungleich/cdist/blob/4.8.0/cdist/configuration.py#L469

I would suspect that removing the default from the beta parser [here](https://github.com/ungleich/cdist/blob/4.8.0/cdist/argparse.py#L130) would fix both problems. This would

[2018-02-26 12:35] matthijskooijman opened #636 "Inventory location inconsistency"
I've been looking at the inventory feature, and was a bit surprised about a few things:
 - The inventory location defaults to `~/.cdist/inventory`, whereas everything else seems to default to the in-distribution location (e.g `cdist/conf/manifest/init`). Is there any compelling for this reason?
 - An in-distibution location is used when `$HOME` is unset, but not when it is empty. This prevents swi

[2018-02-26 16:40] matthijskooijman opened #637 "Improved handling of restarts ("run this on changes")"
In my manifest, I'm running into problems handling restarts of services after config files or installed binaries are changed. There's a few sides to this.

`__config_file` supports an `--onchange` option, which runs arbitrary commands when a config file changes. However, when multiple config files are involved in the same service, this has a number of problems:
 - The service is restarted once for

[2018-02-26 16:57] matthijskooijman opened #638 "Run apt-get update before installing packages"
AFAICS, currently apt-get update is not ran before installing packages, which might lead to outdated packages being installed, or 404 errors on downloads.

There is `__apt_update_index`, but that only updates if anything in `/etc/apt` changed, ignoring the fact that the package archive itself also changes. There is `__package_update_index`, which supports updating on every run, or whenever the ind

[2018-02-26 19:57] darko-poljak commented on #635
@matthijskooijman Hi! Thanks for analysis. I am not sure for above, if argparse supports this, I have to check.
And for CDIST_BETA and beta default part, I will check and fix.

[2018-02-27 22:02] darko-poljak commented on #636
@matthijskooijman Inventory location defaults to ~/.cdist/inventory because there is nothing related to  inventory that comes with distribution, except implementation support. Also, in-distribution location cdist/inventory is used instead of cdist/conf/inventory because inventory is not tight coupled with manifests and types that are used for configuring hosts, and this is what is held in conf dir

[2018-02-27 22:10] darko-poljak commented on #636
@matthijskooijman Can you test the following commit, related to empty HOME env var? https://github.com/ungleich/cdist/commit/2b5f1a01480a3e5ff4af0dc307387299a64db3a4

[2018-02-28 22:16] matthijskooijman opened #639 "non-existent manifest not handled gracefully"
I just noticed that when you specify a non-existent manifest, this error is not handled gracefully (instead, two more exceptions happen during the error handling):

[code]

[2018-02-28 22:28] darko-poljak commented on #639
@matthijskooijman Please check https://github.com/ungleich/cdist/commit/3fb7e33305f55875424ea8521b2ba2e3893b3793

[2018-02-28 22:32] darko-poljak commented on #635
Fixed argparse parsers' parent references so options are now fixed/more consistent.

[2018-02-28 22:38] #639 closed

[2018-02-28 22:40] #632 closed

[2018-03-01 07:09] darko-poljak commented on #636
@matthijskooijman You can also use configuration file: https://www.nico.schottelius.org/software/cdist/man/latest/cdist-configuration.html
There is an option for inventory_dir. If you want a config file in git repo you can also have your home dir config file be link to the one in git repo.
Does this fit your needs?

[2018-03-01 13:10] matthijskooijman commented on #639
Looks good, thanks!

[2018-03-01 13:13] matthijskooijman commented on #635
Looks good for the --beta option, sounds like the right way to fix this. `CDIST_BETA` env doesn't work yet, though.

[2018-03-01 13:16] matthijskooijman commented on #636
Yeah, that's also an option. I still need to pass a -g option explicitly. Would it make sense to automatically load a config file from the distribution, if it exists? e.g. `cdist/conf/cdist.conf` or something?

[2018-03-01 15:04] darko-poljak commented on #636
@matthijskooijman You can have user's configuration file (first one found of ~/.cdist.cfg, $XDG_CONFIG_HOME/cdist/cdist.cfg, in specified order) or
system-wide configuration file (/etc/cdist.cfg).

[2018-03-01 15:12] matthijskooijman commented on #636
Yeah, but none of these are inside my repository, so I can't make the repository self-contained (and it also won't work if I want to work with multiple self-contained repositories). Perhaps I'm thinking about this in the wrong way, but a in-distribution (default) config that is parsed would make sense, right?

[2018-03-01 15:13] darko-poljak commented on #636
How about ln -s <file inside repo> ~/.cdist.cfg ?

[2018-03-01 15:23] matthijskooijman commented on #636
That would work, except that:
 - This requires users to modify their environment after cloning the repo (with the risk of users forgetting to make the link, or later forgetting they have the link and be surprised things are not behaving as expected, etc.)
 - This modifies the config for *all* cdist setups a user might have

[2018-03-01 15:40] darko-poljak commented on #636
@telmich Your thoughts?

[2018-03-01 18:35] darko-poljak commented on #635
@matthijskooijman Please test fix: https://github.com/ungleich/cdist/commit/23292e5cad0ce3fad0ed82342bfede3f3fb6c77f

[2018-03-01 18:37] darko-poljak commented on #636
@matthijskooijman @telmich I think we can take in-distribution config file into account if it exists.

[2018-03-01 19:53] matthijskooijman commented on #635
Fix looks good to me and works, thanks!

[2018-03-01 19:53] #635 closed

[2018-03-02 09:03] #636 closed

[2018-03-06 08:51] telmich opened #644 "Missing initial manifest returns into traceback"
Clearly, we should only output the error message, not a traceback

`[9:48] manager:~% cdist config -vvbj6 -p6  router1.place6.ungleich.ch router2.place6.ungleich.ch
VERBOSE: cdist: version 4.8.0-18-g44673131
WARNING: [26854]: router2.place6.ungleich.ch: Could not derive host_name for router2.place6.ungleich.ch, $host_name will be empty. Error is: [Errno 1] Unknown host
WARNING: [26853]: router1.pl

[2018-03-06 09:16] darko-poljak commented on #644
And I thought we are ready for new bugfix release.

[2018-03-06 09:32] darko-poljak commented on #644
@telmich Can you try with latest master version?
This should have ben fixed in https://github.com/ungleich/cdist/issues/639.
Latest version is cdist 4.8.0-35-gbc94c01c.

[2018-03-06 12:33] telmich commented on #644
Solved:

[code]

[2018-03-06 12:33] #644 closed

[2018-03-07 07:37] matthijskooijman commented on #154
Seems like this is fixed and can be closed?

[2018-03-07 07:54] matthijskooijman commented on #378
I've also ran into this one, wanting to update a variable assignment in a file. e.g. I want to replace `foo=.*` with `foo=bar`. I want to implement this, but I'm not sure what the right approach is here, so comments are welcome.

I'm thinking of adding a `--state=replace` option (or something similar).

I can see a few variants:
 - The simplest case is to first remove any lines matching `--regex`,

[2018-03-07 10:38] telmich commented on #378
@matthijskooijman I suggest to create a new type, let's call it __smart_line that is empty that we can reiterate on until satisfied. That way we don't orientate too much on the previous design of __line, which has been there since the very first days of cdist.

[2018-03-07 11:38] matthijskooijman commented on #378
I guess things can be added to `__line` without breaking backward compatibility, but a new type is fine too. I don't really like `__smart_line` much, since it doesn't actually indicate what it can do, but perhaps a better name will present itself later.

Even for a new type, my above questions seem valid?

[2018-03-08 12:48] telmich opened #645 ""label empty or too long" error"
When running

[13:48] manager:~% cdist config -c ~/vcs/ungleich-dot-cdist/ -vvp10 -bj6 black{1..3}.place6.ungleich.ch server{1..4,6}.place6.ungleich.ch

I get

VERBOSE: [24289]: server6.place6.ungleich.ch: Running object __dcl_ceph/
INFO: [24289]: server6.place6.ungleich.ch: Finished successful run in 14.26 seconds
concurrent.futures.process._RemoteTraceback:
"""
Traceback (most recent call last):

[2018-03-08 12:49] telmich commented on #645
This also happens without -j:

[13:49] manager:~% cdist config -c ~/vcs/ungleich-dot-cdist/ -vvp10 black{1..3}.place6.ungleich.ch server{1..4,6}.place6.ungleich.ch

causes
VERBOSE: [27410]: server6.place6.ungleich.ch: Running object __ungleich_monit/ungleich
VERBOSE: [27410]: server6.place6.ungleich.ch: Running object __dcl_ceph/
INFO: [27410]: server6.place6.ungleich.ch: Finished successful run i

[2018-03-08 15:36] darko-poljak commented on #645
@telmich And without -p ?

[2018-03-08 15:56] darko-poljak commented on #645
@telmich And can you post whole output when running with -S (disable saving output stream)?
Does this happend if you specify only one host?

[2018-03-08 16:36] telmich commented on #645
Not reproducible with one host only.

[2018-03-08 20:38] darko-poljak commented on #645
@telmich And with multiple hosts but not jobs nor parallel mode? (without -p and without -j).

[2018-03-09 05:32] darko-poljak commented on #645
@telmich

[code]
Notice `server1..4.place6.ungleich.ch`. IDNA splits host parts by dot, and `..` results in empty label.
It seems, in bash, you cannot mix `..` and `,` inside `{}`.

So we should catch errors in `cdist/util/ipaddr.py` and output user friendly error.

[2018-03-09 06:32] darko-poljak commented on #645
@telmich Is this wanted behavior?
[code]

[2018-03-09 07:20] darko-poljak commented on #645
@telmich But you were running:
`[13:48] manager:~% cdist config -c ~/vcs/ungleich-dot-cdist/ -vvp10 -bj6 black{1..3}.place6.ungleich.ch server{1..4,6}.place6.ungleich.ch` where you have `server{1..4,6}.place6.ungleich.ch`.

And `echo server{1..4,6}.place6.ungleich.ch` in bash gives:

`server1..4.place6.ungleich.ch server6.place6.ungleich.ch`

[2018-03-09 07:26] telmich commented on #645
+5 points for you! You are absolutely right and the proposed solution is right as well! Please merge!

[2018-03-09 09:00] #645 closed

[2018-03-10 09:39] robinkrahl opened #646 "Loglevel arguments not parsed but accessed"
7ccc959ebdf58d186d260bfd36966ab942117865 effectively disabled the loglevel argument parser, yet `cdist.argparse.handle_loglevel` still tries to access `args.quiet` ([`cdist/argparse.py`, L437](https://github.com/ungleich/cdist/blob/master/cdist/argparse.py#L437)).  This leads to a `AttributeError`, making cdist unusable.

[code]

[2018-03-10 10:14] #646 closed

[2018-04-09 14:34] Unterstrichmoepunterstrich opened #652 "Dynamic Inventory Support"
When you use bigger instances, e.g. AWS cloud or you use an IPA server, to maintain your services, it's pretty nice to get all of your information from your IPA server (if possible).
I found this nice python script, which uses the API:

https://gist.github.com/devynspencer/2bcca0a7654168ef454f

and show an JSON output, if you call it.
If you run it with `ansible -i freeipa.py all -m uptime`  you e

[2018-04-09 15:03] telmich commented on #652
Nothing is stopping you from using cdist config $(tool_that_outputs_names)

[2018-04-21 17:51] telmich opened #654 "Make ifconfig optional"
Instead of failing, allow soft fail

[code]

[2018-04-22 15:26] darko-poljak commented on #654
@telmich Is /var/lib/cdist/conf/explorer/ifconfig global explorer from cdist distribution?
Because I don't see that explorer in conf/explorer.

[2018-04-22 15:47] telmich commented on #654
@darko-poljak it's part of global explorers, as my rgrep confirms:

[code]

[2018-04-24 10:25] darko-poljak commented on #654
@telmich What is weird to me is this part of `Command failed` line:
**/bin/sh -e /var/lib/cdist/conf/explorer/ifconfig**.
Like there is ifconfig explorer from somewhere, not part of some explorer.

[2018-04-24 10:26] darko-poljak commented on #654
@telmich Ah yes. This explorer is from dot-cdist repo. There is ifconfig global explorer with `ifconfig -a` content. So this is not related to this cdist :)

[2018-04-24 15:19] #654 closed

[2018-04-27 09:24] fadedbee opened #655 "Broken link to website."
The link in the title "cdist configuration management http://www.nico.schottelius.org/software/cdist/" returns "404 Not Found" and needs to be changed to "https://nico.schottelius.org/software/cdist/".

[2018-05-14 12:53] asteven opened #662 "#632 introduced NameError: name 'cdist_object' is not defined"
The changes introduced in #632 introduced a bug.
Looking at the code/change it's obvious.

[code]

cdist_object is not defined in the transfer_type_explorers method.

[2018-05-15 07:12] darko-poljak commented on #662
@asteven Aaaahhh!
I would just remove try and except parts, do you agree?

[2018-05-15 08:15] asteven commented on #662
Yes, agree. If we would want to explicitly handle any errors it should be done at a higher level.
But in this case I would just remove try/except as it wasn't there before either.

[2018-05-15 10:14] #662 closed

[2018-05-26 16:56] #154 closed

[2018-05-27 11:11] matthijskooijman opened #665 "Cdist site has expired SSL certificate"
The SSL certificate on https://www.nico.schottelius.org/software/cdist/ seems to have expired on May 15th.

[2018-05-27 12:56] darko-poljak commented on #665
We have hit letsencrypt rate limit. So I have disabled this site from renewal and we have to wait until the rate limit expires after a week. Then we shall see if there is some other problem that caused this.
@telmich FYI

[2018-05-28 06:52] asteven commented on #154
Just for reference. Issues like this one would also be reliably solved by #663.

[2018-06-01 13:34] adam-dej opened #668 "Using cdist to configure non-SSH/non-shell targets"
I want to use cdist to configure targets without SSH connectivity (or without usable shell), that
can be configured using a locally-run utility (for example SNMP-enabled network gear/printers,
Google Cloud Platform projects or Kubernetes clusters).

Why do I want to use `cdist` for this? I want to combine configuration of non-ssh-enabled devices
with configuration of my servers without launching m

[2018-06-01 13:47] asteven commented on #668
While experimenting with [cdist-ng](https://github.com/asteven/cdist-ng/) I implemented target host as always being a URI. Then used the scheme in the URI to select the apropriate transport.

This allowed me to do things like:

[code]
Guess what I want to say is: I like the idea of using URI's for this kind of stuff.
Not sure if I would call it 'noshell', but that depends on how generic you can ma

[2018-06-03 04:50] darko-poljak commented on #665
Fixed.

[2018-06-03 04:50] #665 closed

[2018-06-03 04:50] #652 closed

[2018-06-11 09:01] 4nd3r opened #670 "error with cache_path_pattern in config file"
[code]

or I'm doing it wrong?

[2018-06-12 16:02] lubo opened #671 "__sysctl: /etc/sysctl.conf is not being read by systemd"
__sysctl writes the configuration to `/etc/sysctl.conf`, which is not being read by systemd anymore. According to ArchWiki:

We should probably default to `/etc/sysctl.d/99-sysctl.conf` on systems where systemd is used.

[2018-06-13 05:57] darko-poljak commented on #670
This is due to config parser interpolation where all the '%' interpolations are expanded.
https://github.com/ungleich/cdist/commit/5aa8dac80a93b4158a713a7837f460042ecd11fe fixes it.

@4nd3r Can you test it?

[2018-06-13 07:16] 4nd3r commented on #670
yes, fix'd. thank you!

[2018-06-13 07:16] #670 closed

[2018-06-13 11:43] darko-poljak commented on #671
I think it should be detected if system is using systemd.
Perhaps also if systemd version supports /etc/sysctl.conf.

[2018-06-13 12:19] asteven commented on #671
Ubuntu and Centos have symlinks from /etc/sysctl.d/99-sysctl.conf -> ../sysctl.conf

Not sure if this is distro specific or comes from older version of systemd.

Safer impl would be to not check for systemd or even systemd version.
Instead check for existence of /etc/sysctl.d.
If it exists, use e.g. /etc/sysctl.d/99-sysctl.conf. (Or maybe better /etc/sysctl.d/99-sysctl-cdist.conf? not sure)
Otherw

[2018-06-13 12:34] darko-poljak commented on #671
@lubo Do you have time or wish to re-implement it?

[2018-06-13 13:09] lubo commented on #671
@asteven Seems like it's a distro-specific thing. By default, there's no `/etc/sysctl.conf` on Arch Linux and CoreOS. I don't agree with the implementation, though. If `/etc/sysctl.d` does not exist (for whatever reason) and `/etc/sysctl.conf` is used, then it wouldn't improve anything on systemd. How about using `/etc/sysctl.d/99-sysctl.conf` by default?

@darko-poljak I probably won't be able to

[2018-06-13 13:55] lubo commented on #671
Perhaps, do what everybody else does: create symlink `/etc/sysctl.d/99-sysctl.conf` -> `/etc/sysctl.conf`. Or, consider again using `/etc/sysctl.d/99-sysctl.conf` when systemd is detected. I like the latter best.

[2018-06-13 14:36] asteven commented on #671
We can not safely muck with the symlink ```/etc/sysctl.d/99-sysctl.conf -> /etc/sysctl.conf``` as that's owned by some rpm or deb or whatever.

I will not accept a impl that depends on detecting systemd or systemd version. This will be a PITA to get right.

[2018-06-13 15:09] darko-poljak commented on #671
@asteven @lubo It seems that it would be safest and easiest to implement it as you have suggested above. Detect if /etc/sysctl.d dir exists. If it does then use 99-sysctl.cdist.conf under it. If not then use /etc/sysctl.conf. Not dependent on init system nor unix/linux flavor.

[2018-06-13 15:22] darko-poljak commented on #671
@asteven One more way. Always use /etc/sysctl.conf. In code-remote check if /etc/sysctl exists. If it does then check if symlink to /etc/sysctl.conf exists under it. If not then create symlink 99-sysctl.cdist.conf to /etc/sysctl.conf. What do you think? This way one can even switch init systems, one that uses sysctl.d conf and one that uses traditional etc location.

[2018-06-13 20:05] asteven commented on #671
@darko-poljak I think we should not create any symlinks. Also I can not imagine anybody switching init system without a re-install.

@lubo I think just detecting systemd and then making assumptions based on that is error prone. For example, I have used systemd enabled systems since several years and never had any problem with this type. Yet I do see that my archlinux does not have /etc/sysctl.conf

[2018-06-16 08:48] #671 closed

[2018-06-18 09:45] lubo opened #673 "__letsencrypt_cert: Requested domains temporary file"
There're multiple problems with the file:

1. It's not being removed when it's no longer necessary
2. It's being created in the CWD rather than in a temporary directory like `/tmp`

[2018-06-18 16:32] lubo commented on #668
@darko-poljak @telmich Your thoughts would be highly appreciated.

[2018-06-18 19:18] telmich commented on #668
I like @asteven 's URL based way. Porting it to cdist from cdist-ng is a good idea.

[2018-06-19 13:05] darko-poljak commented on #668
@adam-dej Are you starting to port this to cdist?

[2018-06-20 08:47] thriqon opened #675 "__line crashes in dry-run mode when file does not exist yet"
Suppose the following snippet in a manifest:

[code]

and `/tmp/test` does not exist on the target host.

This works fine when invoking `cdist config` normally, but crashes in the explorer phase when running it with `--dry-run`.

----

This is because the [explorer](https://github.com/ungleich/cdist/blob/master/cdist/conf/type/__line/explorer/state) invokes `awk` directly without testing file pres

[2018-06-20 13:29] #675 closed

[2018-06-22 17:31] darko-poljak commented on #668
@adam-dej

SNMP device I want to configure, and I prevent cdist from attempting to connect over SSH with args
--remote-exec true and --remote-copy true. Downsides are no explorers, and the fact that it is
an ugly hack.

You can do it better. remote-exec and remote-copy can be paths to your exec and copy scripts.
And in those shell scripts you can do the desired behavior.
In cdist-ng transports are

[2018-07-09 12:44] mcdviii opened #677 "Best practices for getting started? Suggestion for lowering barrier to entry."
Hello,

Is the documentation [found here](https://nico.schottelius.org/software/cdist) the most up-to-date? The [quick-start guide](https://www.youtube.com/watch?v=PRMjzy48eTI) found on YouTube is quite outdated. I'm willing to throw together a new one on [asciinema.org](https://asciinema.org/) if the project is interested.

[2018-07-09 20:02] telmich commented on #677
That's a very cool idea @mcdviii ! We are not only open for it, but would very much welcome it! Also, asciicinema looks pretty cool...

[2018-07-17 07:37] greendeath opened #679 "--renew-hook from type __letsencrypt_cert is not working"
When running this command:
`echo __letsencrypt_cert --admin-email technik@ungleich.ch --webroot /var/www --renew-hook 'service nginx reload' "monitoring.place6.ungleich.ch" --domain "monitoring.place6.ungleich.ch" --domain "monitoring2.ungleich.ch" --automatic-renewal | cdist config -vi - monitoring.place6.ungleich.ch`

I get this error:
__letsencrypt_cert: error: unrecognized arguments: reload mo

[2018-07-17 08:39] darko-poljak commented on #679
@greendeath
[code]
results in
[code]
where `servie nginx reload` is not a single argument.
It should be quoted.

You should do something like
[code]

It's a shell thing.

[2018-07-17 08:56] greendeath commented on #679
Fixed it, thank you!

[2018-07-17 08:56] #679 closed

[2018-07-18 00:08] mcdviii commented on #677
Hello! Glad to see we are on the same page! I agree asciinima is a pretty cool project. ^^ I've seen it being used by Zsh plugin projects, & a couple others.

So the latest stable version of `cdist` is 4.1, is that correct? I still need to wrap my head around how much of cdist works, still--but I would like to learn it while creating a getting started guide.

I would also like to eventually do som

[2018-07-20 20:11] matthijskooijman opened #680 "Allow custom SSH options"
To customize the way cdist connects to my target hosts, it would be nice if there was an easier way to pass options to the `ssh` and `scp` commands. In particular, I'm looking for `-o ProxyJump=some_server` to allow using a jump host for connections.

Currently, this can be supported using the `--remote-exec` and `--remote-copy` options (or their associated config file equivalents). However, this

[2018-07-20 20:15] asteven commented on #680
I use ~/.ssh/config for this. Could this also work for you?
We should be very hesitant to add any features/config to cdist that can already be done with existing tools/configs.

[2018-07-20 20:21] matthijskooijman commented on #680
I fiddled around with ~/.ssh/config, which can be made to work, but requires me to keep a list of hostnames in my homedir, while I really want to keep everything on our cdist-fork (so things can be more easily shared between different people in our project, and project-specific config does not leak out of the project repo).

Also, I'd like to be able to easily enable and disable these options (e.g

[2018-07-20 20:33] matthijskooijman opened #681 "How to print messages from manifests?"
Something I couldn't figure out (might not be possible): How to print any messages for the user when running a manifest? I'm mostly thinking of the initial manifest here, but I guess the same applies to the type manifests.

Inside my manifest, I do some autodetection of needed config files based on the hostname, and I would like to show a warning when certain config files a re missing for this hos

[2018-07-20 20:39] matthijskooijman commented on #636
A bit late, but: Thanks! Works like a charm for me :-)

[2018-07-22 20:09] asteven commented on #680
Cdist is currently not really tied to ssh in any way. I'm not sure I like adding any ssh specific options. But I'm also not against it as long as it stays out of the way and does not give the idea that ssh is the only option for remote-{exec,copy}. If we'd consider this I'd vote for --remote-option --remote-argument or the like instead of --ssh-*. Then again, can this not be done with the existing

[2018-07-23 07:34] darko-poljak commented on #680
But, ssh mux options can also be specified with --remote-exec/copy, or not!?

[2018-07-23 07:47] matthijskooijman commented on #680
Well, the default commands that are generated call SSH, with SSH-specific options, so it is tied to SSH *somewhat*. That options I propose tie in to that SSH-default part, so it might actually be sensible to call them `--ssh-whatever`. I don't care overly much, though.

You, could, except:
 - You would have to hard-code the control path, rather than [have cdist generate it](https://github.com/ungl

[2018-07-23 08:35] telmich commented on #680
This is a very interesting discussion. My two points for the moment (more to come):

- cdist should stay agnostic of transport
- cdist should support remembering transport specific parameters

The former is already there, the latter is well reasoned by the transport being a configuration parameter.

It could be solved in a variety of ways - a quick one I can think of is extending the inventory fun

[2018-09-01 08:32] darko-poljak opened #685 "__letsencrypt_cert certificate-* explorers fail when certbot does not exist"
When certbot is not yet installed on target host, __letsencrypt_cert explorers certificate-* result in `certbot: not found`.

In certificate-* explorers we should use certbot-path explorer to check if it exists and do logic accordingly.

[2018-09-01 08:33] darko-poljak commented on #685
@lubo This might be of interest for you.
I have prepared a fix already.

[2018-09-01 21:29] #685 closed

[2018-10-06 11:51] darko-poljak commented on #540
To coordinate, after resolving https://github.com/ungleich/cdist/pull/708 I will create PR
for another fixes I am preparing, https://github.com/darko-poljak/cdist/tree/shellcheck-rest.
After this one, I think all shellcheck problems will be resolved.
Except SC2154 (var is referenced but not assigned, https://github.com/koalaman/shellcheck/wiki/SC2154) for all `__<something>` which we will ignore,

[2018-10-08 13:49] darko-poljak commented on #540
@asteven @thriqon @tom-ee @telmich Good news!
If I am right, #712  and #713  should be the last PRs regarding this issue :)

[2018-10-08 15:04] asteven commented on #540
Nice work everyone. To be honest I expect some breakage. But we can just fix that along the way.
I do think we should eat this dog food ourself for quite some time before releasing.

[2018-10-12 06:33] telmich opened #716 "Object conflict where there should not be one - or wrong error message"
[code]

[2018-10-12 06:36] telmich commented on #716
manifest/dcl:          __ungleich_monit ungleich --config ungleich
type/__dcl_ceph: __ungleich_monit ungleich --config ungleich

[2018-10-12 06:36] telmich commented on #716
@darko-poljak ping

[2018-10-12 07:01] darko-poljak commented on #716
@telmich
[code]
`{'config': 'ungleich', 'state': 'present'}` vs `{'config': ['ungleich'], 'state': 'present'}`. The question is why list in the second one.

[2018-10-12 09:43] darko-poljak commented on #716
@telmich It is reproduced easily with the following init manifest:
[code]
It seems that DirectoryDict does not work as it should for multiple parameters, config can be specified multiple times.
When it reads multiple parameter from file it returns file content with last \n stripped.
But when it writes multiple parameters it detects if value is a sequence.

If parameter is not multiple then file co

[2018-10-12 09:46] darko-poljak commented on #716
Something like the following:

[code]

[2018-10-12 09:50] telmich commented on #716
Is this something that we recently changed? Because the above manifest did run without changes some time ago, I claim

[2018-10-12 10:02] darko-poljak commented on #716
@telmich Randomly chosen 4.0 branch.
``$ git checkout 4.0
Switched to branch '4.0'
Your branch is up to date with 'origin/4.0'.
$ ./bin/cdist config -vv -n  -i ~/.cdist/manifest/test $(cat ~/ungleich/data/opennebula-staticweb-test )
INFO: cdist: version 4.0.0-2-gd9acd2b2
INFO: 185.203.112.26: Running global explorers
INFO: 185.203.112.26: Running initial manifest /home/darko/.cdist/manifest/test
E

[2018-10-12 10:09] darko-poljak commented on #716
@telmich
[code]

[2018-10-12 10:09] darko-poljak commented on #716
/home/darko/.cdist/manifest/test: {'state': 'present', 'config': **'ungleich\nungleich2'**}
/home/darko/.cdist/manifest/test: {'state': 'present', 'config': ['ungleich', 'ungleich2']}

[2018-10-12 10:58] darko-poljak commented on #716
@telmich Although I think reading should return tuple instead of list, an unmodifiable sequence type. Do you agree?

[2018-10-12 11:14] darko-poljak commented on #716
But, argparse resolves param as list and list != tuple :)

[2018-10-14 08:32] #716 closed

[2018-11-01 01:04] matthijskooijman commented on #681
Thanks for your swift reply! Unfortunately, I missed it back then, but found it now while I'm working with cdist again.

I tried your suggestion, but my output is not being shown. I tried with one to three `-v` options, with no luck. I also just updated to 8.10.3, which does not help.

Looking at the code, it seems that it redirects to files in /tmp by default, and passing `--disable-saving-stream

[2018-11-01 01:06] matthijskooijman commented on #681
Looking more closely at the `--disable-saving-streams` option, that makes *all* output from all manifests show up, not just the initial manifest. In my case, all of the type manifests seem to be silent, but if any are generating output, I'm not sure if I want to see that?

[2018-11-01 01:10] matthijskooijman commented on #681
Thinking even more closely, Ideally I would be able to hook into the log level system from inside a manifest, but I can imagine that's not so trival to add..

[2018-11-01 06:41] asteven commented on #681
I was thinking about this for some time also. I'd want to have something like this that I can use inside my manifest/gencode-* scripts:

[code]

And this ends up in cdist's log output looking something like:

[code]

[2018-11-01 09:30] matthijskooijman commented on #681
In terms of implementation, I think that would mean opening up an extra pipe to the process (on e.g. fd 3) and printing messages in some format (probably just lines with the level followed by a space and the message)?

[2018-11-01 10:55] asteven commented on #681
I was thinking more of the parent process running a log server on a socket.
It shares the config for this via environment.
Client process picks this up and configures it's logging package to log to that logging server.

With a solution like this all the logging is detached from stdout/stderr.

[2018-11-01 11:01] matthijskooijman commented on #681
You mean on a UNIX socket or TCP socket? These have the downside that they expose the logging access to other processes too.

My suggestion also has that. stdout/stderr are on fd 1 and 2, and you would open up a pipe on fd 3 for the logging (by opening the pipe before forking off the subprocess, it is really only accessible to the subprocess).

[2018-11-01 12:52] asteven commented on #681
UNIX socket would be the obvious choice.
I tested using fd's and named pipes but it's much harder to deal with then a socket.
Remember that you have n processes writing there concurrently.

What I mean is something like this: https://gist.github.com/asteven/7e32461754cc417737d76da1adcd990a

This would then obviously be used by all parts of cdist that do not run in the main parent process.

[2018-11-01 12:53] asteven commented on #681
@darko-poljak This would simplify all the dealing with logging vs output a lot. What say you?

[2018-11-01 14:30] matthijskooijman commented on #681
I was originally thinking to have a single pipe per process, so then you would not have any concurrency problems, but it doesn't scale too well. Using a single socket server makes a lot more sense indeed. I can imagine sockets are easier there (I was thinking about datagram sockets, which do not have any framing issues, but your example uses streaming sockets, but perhaps those have better concurr

[2018-11-01 16:31] darko-poljak commented on #681
Sounds interesting.

[2018-11-24 23:39] greendeath opened #722 "__postgres_role has syntax error on gencode-remote"
I currently get this error:

[code]

the gencode-remote looks like the following:
[code]

Also if I directly type in the command on the command line, I get the same error
Only if I try to first login into the postgres user and then run the command
with `psql postgres -c "CREATE... PASSWORD 'XXXX'" `
then it works, so it looks like a problem with `"` and `'`

Running the cdist type against a Debian

[2018-11-25 12:56] darko-poljak commented on #722
@greendeath Can you test this changes https://github.com/darko-poljak/cdist/tree/bugfix/github-722/__postgres_role-syntax-error ?

[2018-12-05 15:58] darko-poljak commented on #722
Fixed in 45d10374912ee215650efa622cc3af577a0c19ea.

[2018-12-05 15:58] #722 closed

[2018-12-07 13:23] sideeffect42 commented on #585
@schvabodka-man Isn't `yum` symlinked to `dnf` on RedHat systems with dnf?

Regarding the PR:
Are the dnf commands different from their yum equivalents?
If not you could just copy the `__package_yum` type to `__package_dnf` and replace occurences of "yum" with "dnf".

Plus a bit of code in `__package` to select the right type.

[2018-12-07 13:53] sideeffect42 opened #726 "Support for sub-types"
When writing cdist types I very often have the problem that I would need multiple possible "entry-points" in a single type.

**What's the situation?**

Say I want to implement a type to install and configure an Apache web server.
There are multiple pieces needed to configure Apache.
(For ease of getting my point across I'm assuming a Debian-based system here.)

1. I need to install the package.
2.

[2018-12-07 16:49] darko-poljak commented on #726
@sideeffect42 Would CDIST_PATH (https://www.nico.schottelius.org/software/cdist/man/latest/cdist-reference.html#environment-variables-for-writing) help? You can have separate type repos and all used by cdist by defining CDIST_PATH.

[2019-02-16 09:37] mcdviii opened #737 "`make docs` Fails Under Fedora 29 with `python-sphinx-doc` Installed"
Hello,

I've finally rekindled my curiosity for this project & am trying to dig into it. I'm stumbling at building the man pages with `make docs` with the following error:

[code]

[code]
`sphinx-build` is shipped within the `python-sphinx` package, which installs the python2 version & dependencies.

[code]
EDIT:

I think this has something to do with Sphinx not working directly with Python3:

htt

[2019-02-16 09:47] darko-poljak commented on #737
Hi!
Python2 is not supported. Your default sphinx is for python2.
Please use python3 sphinx.

** All work and no play makes Jack a dull boy **

Darko

On Sat, Feb 16, 2019, 10:37 mcdviii <notifications@github.com wrote:

[2019-02-16 09:50] mcdviii commented on #737
Hi @darko-poljak, please see my edit. `python3-sphinx` doesn't appear to ship the sphinx-build binary. Is this an issue with my distro, or with the way sphinx is meant to be used? Thanks!

[2019-02-16 10:02] mcdviii commented on #737
Ah, the aforementioned package places it at /usr/bin/sphinx-build-3. I changed SPHINXBUILD in /docs/src/Makefile and it seems to have built everything successfully.

[2019-02-16 10:15] darko-poljak commented on #737
You can make a symlink.
Or does your distro supports alternatives or somethin? (Iam on FreeBSD for
a couple of years so I can't tell).
This way you don't have to change Makefile.

** All work and no play makes Jack a dull boy **

Darko

On Sat, Feb 16, 2019, 11:02 mcdviii <notifications@github.com wrote:

[2019-02-16 20:50] mcdviii commented on #737
In the interim that works, yes. I have to think there would be a more ideal long-term solution though. I see that both `sphinx-build-3` & `sphinx-build-3.7` are available under `/usr/bin/`, so this isn't just the package manager being cheeky (<- my original assumption).

[2019-03-26 19:37] oxr463 commented on #677
The [quick-start guide](https://www.nico.schottelius.org/software/cdist/man/latest/cdist-quickstart.html) found in the documentation seems adequate to me; I was able to follow it without any issues.

It would be nice to have a to have a tool for creating new types automatically, something similar to [`pdk`](https://github.com/puppetlabs/pdk).

[2019-03-26 20:16] asteven commented on #677
I am using the following script since many years.

[code]

[2019-03-27 03:12] markasoftware opened #741 "UFW (Uncomplicated FireWall)"
I am interested in implementing types to install and configure UFW, which is many lazy sysadmins' preferred firewall manager nowadays. I am creating this issue to track my progress and to get feedback; is this something that would be accepted upstream?

[2019-03-27 09:11] telmich commented on #741
No objections from my side

[2019-04-02 16:06] markasoftware opened #746 "Automated tests for types"
It would be super nice to have a test system in place for types. I am envisioning something where types can have their tests, also written in shell, in the same directory as the type itself. The test is able to specify the following:

* Object ID & parameters
* Output of global and object-specific explorers

Then, the script can assert things about:

* The objects the manifest tried to instantiate

[2019-04-07 04:46] markasoftware commented on #324
Although it isn't too hard to check that attributes are right, there is no easy way to check if the password is correct. Perhaps it should unconditionally `ALTER ROLE` when state_is == state_should == present

[2019-04-07 05:54] markasoftware commented on #393
I'm also confused about __ssh_authorized_key vs __ssh_authorized_keys -- do we really need 2?

[2019-04-07 09:58] asteven commented on #393
Mark Polyakov wrote on 4/7/19 7:54 AM:

Yes we do.
__ssh_authorized_keys uses __ssh_authorized_key under the hood.

[2019-04-07 10:02] asteven commented on #393
The code does handle multiple options.
What is the problem you are having?

[2019-04-07 10:11] asteven commented on #393
Err, sorry. You are right.
__ssh_authorized_key does handle multiple options.
__ssh_authorized_keys does not, although it says it does.
This is a bug.

[2019-04-07 10:18] #393 closed

[2019-04-09 20:05] darko-poljak opened #750 "__file onchange is not fired by creation alone"

[2019-04-09 20:24] #750 closed

[2019-04-10 14:26] oxr463 opened #751 "Wrong version number reported"
The command `cdist -V`, or `cdist --version` report the following version number on the latest release,

[code]

I also checked the version released on PyPI, and it says the same thing. In fact, re-running `pip install cdist` returns the following,

[code]

[2019-04-10 17:05] darko-poljak commented on #751
@oxr463 I don't get it.

[code]

[2019-04-10 17:06] darko-poljak commented on #751
[code]
@oxr463 How do you `install` the latest release?

[2019-04-10 20:57] oxr463 commented on #751
I downloaded the tar.gz, unpacked it, then ran `python3 setup.py build install`.

Here is the APKBUILD for Alpine Linux, https://git.alpinelinux.org/aports/plain/testing/cdist/APKBUILD

[2019-04-11 01:19] oxr463 commented on #751
Testing again from Gentoo this time,

[code]

No version number at all?

[2019-04-11 06:25] darko-poljak commented on #751
@oxr463 I think you missed one step when doing it from source:

https://www.nico.schottelius.org/software/cdist/man/latest/cdist-install.html#from-git

[code]

cdist does not come with pre-generated version.py.

[2019-04-11 12:05] oxr463 commented on #751
Oops! I thought that only applied to the git version. Let me try again.

[2019-04-11 12:37] darko-poljak commented on #741
https://github.com/ungleich/cdist/commit/1ba5f6276e569705875395feafb8f8f15c08d610

[2019-04-11 12:37] #741 closed

[2019-04-11 16:52] darko-poljak commented on #751
@oxr463 What is the final conclusion?

[2019-04-11 23:52] oxr463 commented on #751
Here is the latest results,

[code]

[2019-04-12 06:39] darko-poljak opened #754 "-q/--quiet is broken"
$ cdist config --quiet ander-test-openbsd.cloud
Traceback (most recent call last):
  File "/home/ander/Desktop/cdist/bin/../scripts/cdist", line 77, in <module>
    commandline()
  File "/home/ander/Desktop/cdist/bin/../scripts/cdist", line 56, in commandline
    args.func(args)
  File "/home/ander/Desktop/cdist/cdist/config.py", line 256, in commandline
    configuration=configuration)
  File "/h

[2019-04-12 07:14] #754 closed

[2019-04-12 07:20] darko-poljak commented on #751
@oxr463 Well, if source is not git cloned then there is no git to generate version from.
pypi tar.gz has generated version.py included.
Raw source has no version.py.

@telmich What is the recommended way in this case?
Should we support version.py generation for raw source?

[2019-04-12 16:25] telmich commented on #751
Alright.. the answer is VERY easy:

* .tar.*, deb, pypi, apk, $package should contain version.py
* git should not contain that

@oxr463 I have not worked w/ alpine packages yet, but can you git (shallow) clone in the build process? This would be the correct way from our side. The tars generated by github are *not* an official release from my point of view.

[2019-04-12 17:05] oxr463 commented on #751
I can clone from git. Thanks for letting me know!

[2019-04-12 17:13] darko-poljak commented on #751
@oxr463 We will add version.py into tar.gz we generate, sign and upload to github.
We cannot affect github generated `Source code (zip)` nor `Source code (tar.gz)`.

[2019-04-12 18:00] #751 closed

[2019-04-12 18:00] darko-poljak commented on #751
@oxr463 It should be actual with the next release.

[2019-04-12 18:04] oxr463 commented on #751
Thank you for your help.

[2019-04-12 18:05] darko-poljak commented on #751
Thank you for reporting this and to make us make cdist better.

[2019-04-13 18:49] darko-poljak commented on #751
@oxr463 Release 4.10.11 raw source code that was uploaded by our build process should now have version.py included in the archive. If something is wrong, please report a new issue.

[2019-04-14 14:49] darko-poljak opened #756 "Circular dependencies with export CDIST_ORDER_DEPENDENCY=1"
In mailing list the following case was reported as not working, resulting in circular dependency.

Init manifest
[code]

__foo type manifest:
[code]
Error
[code]

__user/... requires:
         __group/...
is the result of injecting last created type requirement
__group/... requires:
         __foo/...
is the result of injecting last created type requirement
__foo/... autorequires:
         __user/

[2019-04-14 14:51] darko-poljak commented on #756
@telmich @asteven
The wrong part here is
__group/... requires:
__foo/...
injection.

When CDIST_ORDER_REQUIREMENT is set, if last created type is object whose type manifest is
currently being executed, then such requirement should not be injected.

PR follows.

[2019-04-14 19:02] jimis opened #758 "ACL type does not converge if permissions include capital X"
```__acl /path/to/dir/ --default  --user username:r-X```

Note the capital X in the permisisons part. No matter how many times I execute this, the type re-sets the ACL every time.

From setfacl manual:

The problem lies in the `gencode-remote` script, that expects to find the string "r-X" in the output of `getfacl` (explorer `acl_is`). Apparently `getfacl` will never return a capital X. From the e

[2019-04-15 14:34] jimis commented on #758
@4nd3r maybe you have an opinion on this one?

[2019-04-15 17:52] 4nd3r commented on #758
this is though one. i, myself, would never use such ambiguous feature, but I can't think of good solution for those, who would like to use it. at least we should add note about that in man.rst.

[2019-04-15 18:55] jimis commented on #758
@4nd3r I find it really useful. Otherwise how do you set recursively the ACL to "r-x" for directories but to "r--" for files?

[2019-04-15 20:27] 4nd3r commented on #758
I use `find` with `-type` and ` -exec` :smile:

jokes a side, how do you know if some perms inside deep directory needs a change? I personally don't like types which do something even when there's no need to, but that's may personal belief :angel:

the thing with recursive operations is that they are hard. when i wrote `__acl`, i gave it a lot of thought. for example, getting recursively state of

[2019-04-15 21:02] jimis commented on #758
I definitely do not want recursive comparisons, the way it is now is fine regarding recursion, I agree that the overhead would be too big otherwise.

Non-recursive test for capital X permission is what I was thinking of:
* Is it a directory and the ACL `x` bit is set? Then the ACL is correct.
* Is it a file and the `x` mode bit is set, and the `x` ACL bit is set? Then the ACL is correct.
* Otherwi

[2019-04-15 21:05] 4nd3r commented on #758
separate explorer(s) with `find -perms -type` if `X` is used?

[2019-04-15 21:30] 4nd3r commented on #758
wait... non-recursive test on path?
you don't know whether path, you are defining for `__acl`, is directory of file?
i'm confused.

I mean, if that is the case, then we could just do simple test and `sed 's/x/X/` on wanted line in acl_is output...

[2019-04-15 22:14] jimis commented on #758
Sounds good! :-) But also skip the test entirely if it's a file and the "x" bit is not set for any user.

[2019-04-16 16:30] darko-poljak commented on #756
@telmich  I will try to clarify the case better.

Let we have the following init manifest:
[code]

and foo type manifest:
[code]
So this means that we want dependency in type's manifest based on the order of types.
Here we want that `__user` type requires `__group` type.

What cdist determines is that
[code]

So, `__user` requires `__group`, which requires `__foo`, which requires `__user`, and we

[2019-04-17 18:32] telmich opened #761 "New disk explorer breaks alpine"
[code]

[2019-04-17 18:51] #761 closed

[2019-04-18 11:07] 4nd3r opened #762 "__apt_key: apt-key is deprecated"
from https://manpages.debian.org/unstable/apt/apt-key.8.en.html

also see: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=858238

I'll fix `__apt_key` "soon" (if someone else doesn't step up before that), but this should be fixed before next Debian stable release (full freeze already happened in march, release should be in summer).

[2019-04-19 07:36] #756 closed

[2019-04-19 20:20] 4nd3r opened #764 "lets try to agree which operating systems we support"
continuation from #763

major linux distros should be main priority and freebsd should be supported as well as humanly possible. macosx, openbsd, netbsd, solaris and other ancient or esoteric operating systems shouldn't be supported as a goal and we shouldn't demand it from contributors.

for example, if we want to have something like #746 some day, then this should be decided. right now we don't

[2019-04-19 20:33] telmich commented on #764
I think the answer here is very simple: scratch your on itch. We support what we, the cdist community, uses.

And if we don't have support in a type or an explorer, we error out and ask the user to add support.

That said, we try in general to code portable (i.e. prefer posix over bash), but we don't squeeze in portable support, where it is too much pain.

[2019-04-19 21:11] jdguffey commented on #764
Agreed with @telmich. It's been a few years since I contributed to the project, but hasn't the general rule been "support POSIX," so that we wind up supporting everything unless it departs from that standard? That way, if something departs, we could either support it because it's widely enough used (GNU/Linux) or not we don't see enough value in writing new code to support it (MINIX, et al), thoug

[2019-04-19 22:02] 4nd3r commented on #758
this should be closed if #760 solved an issue

[2019-04-19 23:28] krytarowski commented on #764
Just making sure, is NetBSD ancient or esoteric?

[2019-04-19 23:47] telmich commented on #764
@krytarowski Clearly both. Any other question?

[2019-04-19 23:59] krytarowski commented on #764
Rationale for say being ancient?

[2019-04-20 01:55] jimis commented on #758
Yes it is solved, thank you!

[2019-04-20 01:55] #758 closed

[2019-04-20 07:30] 4nd3r commented on #764
nice morning - @telmich already bully BSD users :smiling_imp:  actually, if you think about it... netbsd's strength is portability and we try in general to code portable cdist types... ergo we should definitely support NetBSD as a litmus test!

[2019-04-20 08:32] 4nd3r opened #766 "stderr from explorers"
in global and type explorers, when `exit 1` with `echo error >&2` is emitted, stderr of explorer is not shown, but it is with gencode-remote:

[code]

also, since type explorer fails, nothing is saved into cache directory, so I can't even use cdist-dump.

usecase: I would like to do preflight checks in type explorer and if something is wrong, type should terminate with exit 1 and error show to adm

[2019-04-20 09:20] telmich commented on #764
@krytarowski It was a joke, but if you really ask: if you see the age, maturity and longevity of NetBSD, you can certainly call it ancient. It has been there like... what? forever? Fits the definition of ancient.

[2019-04-20 10:30] darko-poljak commented on #766
@4nd3r stderr of global explorers should be in `.../cache/<cache-dir>/stderr/remote`.
Can you check?

[2019-04-20 10:57] darko-poljak commented on #766
@4nd3r  If you use -vvvv you can see tmp directory and inside in `/tmp/tmp.../<host-dir>/data/stderr/remote` you can see explorer output.

[2019-04-20 11:18] darko-poljak commented on #766
@4nd3r I see what you mean. I will add support equivalent as for manifest and code execution. In the next release.

[2019-04-20 11:54] darko-poljak commented on #766
@4nd3r I already have this for global explorers :)

[code]

[2019-04-20 11:59] 4nd3r commented on #766
no relevant files will be created locally or remotely if type explorer fails.

i created simple type:

[code]

[code]

[2019-04-20 12:01] darko-poljak commented on #766
I am already on it...

[2019-04-20 12:17] darko-poljak commented on #766
@4nd3r For type explorers:

[code]

[2019-04-20 12:19] darko-poljak commented on #766
@4nd3r For type manifest, current implementation suffices, right?

[code]

[2019-04-20 12:21] darko-poljak commented on #766
@4nd3r I'll review later code for explorers and then I will push it so you can test it, ok?
And then we can include it in 4.11.1.

@asteven @telmich  You might also be very interested in this upcoming improvement.

[2019-04-21 05:46] #766 closed

[2019-04-21 19:32] telmich opened #769 "disks explorer breaks macos"
New global explorers should *never* break existing OS. However the disks explorer does w/ macos:

[code]

[2019-04-21 19:33] telmich commented on #769
[code]

[2019-04-21 20:11] darko-poljak commented on #769
Argh! So we need an **assume** default.
@nico Does macos have a proper way for listing disks, like lsblk for linux and sysctl for BSDs?

[2019-04-21 20:13] darko-poljak commented on #769
I also see that new explorer error reporting is useful :)

[2019-04-21 20:46] darko-poljak commented on #769
Hm.. By default, do not assume, but print to stderr, empty stdout and exit 0.

[2019-04-22 19:00] #769 closed

[2019-04-24 16:26] #764 closed

[2019-04-24 16:48] 4nd3r opened #774 "__block shouldn't append, but preserve position in file"
quick hack with sed:
[code]
but not sure if i'm missing something :thinking:

[2019-04-27 14:46] #400 closed

[2019-04-27 14:46] #409 closed

[2019-04-27 14:46] #412 closed

[2019-04-27 14:46] #413 closed

[2019-04-27 14:46] #461 closed

[2019-04-27 14:46] #483 closed

[2019-04-27 14:46] #488 closed

[2019-04-27 14:46] #512 closed

[2019-04-27 14:46] #524 closed

[2019-04-27 14:46] #558 closed

[2019-04-27 14:46] #585 closed

[2019-04-27 14:46] #592 closed

[2019-04-27 14:46] #624 closed

[2019-04-27 14:46] #625 closed

[2019-04-27 14:46] #637 closed

[2019-04-27 14:46] #638 closed

[2019-04-27 14:46] #668 closed

[2019-04-27 14:46] #677 closed

[2019-04-27 14:46] #680 closed

[2019-04-27 14:46] #681 closed

[2019-04-27 14:46] #726 closed

[2019-04-27 14:46] #737 closed

[2019-04-27 14:46] #746 closed

[2019-04-27 14:46] #762 closed

[2019-04-27 14:46] #774 closed

[2019-04-27 14:47] #306 closed

[2019-04-27 14:47] #307 closed

[2019-04-27 14:47] #310 closed

[2019-04-27 14:47] #324 closed

[2019-04-27 14:47] #329 closed

[2019-04-27 14:47] #331 closed

[2019-04-27 14:47] #337 closed

[2019-04-27 14:47] #338 closed

[2019-04-27 14:47] #342 closed

[2019-04-27 14:47] #351 closed

[2019-04-27 14:47] #353 closed

[2019-04-27 14:47] #358 closed

[2019-04-27 14:47] #359 closed

[2019-04-27 14:47] #370 closed

[2019-04-27 14:47] #371 closed

[2019-04-27 14:47] #373 closed

[2019-04-27 14:47] #374 closed

[2019-04-27 14:47] #375 closed

[2019-04-27 14:47] #376 closed

[2019-04-27 14:47] #377 closed

[2019-04-27 14:47] #378 closed

[2019-04-27 14:47] #379 closed

[2019-04-27 14:47] #387 closed

[2019-04-27 14:47] #389 closed

[2019-04-27 14:47] #390 closed

[2019-04-27 14:47] #129 closed

[2019-04-27 14:47] #137 closed

[2019-04-27 14:47] #151 closed

[2019-04-27 14:47] #159 closed

[2019-04-27 14:47] #165 closed

[2019-04-27 14:47] #182 closed

[2019-04-27 14:47] #212 closed

[2019-04-27 14:47] #223 closed

[2019-04-27 14:47] #229 closed

[2019-04-27 14:47] #235 closed

[2019-04-27 14:47] #258 closed

[2019-04-27 14:47] #259 closed

[2019-04-27 14:47] #268 closed

[2019-04-27 14:47] #270 closed

[2019-04-27 14:47] #275 closed

[2019-04-27 14:47] #276 closed

[2019-04-27 14:47] #277 closed

[2019-04-27 14:47] #291 closed

[2019-04-27 14:47] #293 closed

[2019-04-27 14:47] #300 closed

[2019-04-27 14:47] #301 closed

[2019-04-27 14:47] #302 closed

[2019-04-27 14:47] #303 closed

[2019-04-27 14:47] #304 closed

[2019-04-27 14:47] #305 closed

[2019-04-27 14:47] #109 closed

[2019-04-27 14:47] #117 closed

[2019-04-27 14:47] #118 closed

[2019-04-27 14:47] #120 closed